.wrapper {
    margin: 20px auto;
    width: 400px;
}

.main-div h2{
    text-align: left;
}
#myAutocomplete {
    width: 100%;
}

.ui-autocomplete-multiselect.ui-state-default {
    display: block;
    background: #fff;
    border: 1px solid #ddbe87;
    padding: 3px 3px;
    padding-bottom: 0px;
    overflow: hidden;
    cursor: text;
    width: 90%!important;
    margin: 1%;
    height: 60px;
}

.ui-autocomplete-multiselect .ui-autocomplete-multiselect-item .ui-icon {
        float: right;
    cursor: pointer;
    border-left: 1px solid #BEE1FF;
    margin-left: 5px;
}

.ui-autocomplete-multiselect .ui-autocomplete-multiselect-item {
    display: inline-block;
    border: 1px solid #BEE1FF;
    border-radius: 4px;
    padding: 1px 3px;
    margin-right: 6px;
    margin-bottom: 3px;
    color: #545454;
    font-size: 12px;
    background-color: #E7F3FF;
}

.ui-autocomplete-multiselect input {
    display: inline-block;
    border: none;
    outline: none;
    height: auto;
    margin: 2px;
    overflow: visible;
    margin-bottom: 5px;
    text-align: left;
    width: 100% !important;
}

.ui-autocomplete-multiselect.ui-state-active {
    outline: none;
    border: 1px solid #7ea4c7;
    -moz-box-shadow: 0 0 5px rgba(50,150,255,0.5);
    -webkit-box-shadow: 0 0 5px rgba(50,150,255,0.5);
    -khtml-box-shadow: 0 0 5px rgba(50,150,255,0.5);
    box-shadow: 0 0 5px rgba(50,150,255,0.5);
}

.ui-autocomplete {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
