

body.cart-page-main-body
{
	margin: 0;
	padding: 0;
}

/* --------- main page body css --------- */
.cart-page-main-body .shopping-bag
{
	text-align: center;
	font-family: Raleway;
	color: #ab8f5d;
	border-bottom: 1px solid #E6E6E6;
	font-size: 1.3em;
}

/* ------------ cart box css -------------*/
.cart-box
{
    width: 90%;
    margin: 2% auto;
    border: 1px solid #DDBE87;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 0px 0px rgba(0,0,0,0.22);
}
.cross-img
{
	float: right;
	margin: 1%;
}

/* ----------- box title css ------------*/
.box-title {
    font-size: 1em;
    color: #333333;
    padding-top: 1%;
    padding-left: 2%;
}
.box-item {
    padding: 2%;
}
.item-img
{ 	
	float: left; 
	width: 24%; 
}
.item-img img
{
	width: 100%;
}

/* -------------- amount payable css -----------*/
.amount-payable {
    display: inline-block;
    width: 30%;
    text-align: center;
    padding-top: 8%;
    padding-left: 4%;
    color: #333333;
    font-size: 1em;
    vertical-align: top;
}

/* -------------- item description css -----------*/
.item-description
{ 
	display: inline-block; 
	width: 40%; 
	border-right: 1px solid #E6E6E6;
}
.item-name {
    color: #967740;
    font-size: 1.2em;
    text-transform: uppercase;
    padding-left: 2%;
    margin-bottom: 1%;
}
#quantity {
    padding-left: 20px;
    color: #545454;
    display: inline-block;
    width: 40%;
    font-weight: 600;
}
.pro-description{
    
}
.dropdown-select
{
	display: inline-block;
	width: 50%;
}
.dropdown-select select {
    background: #ECECEC;
    color: #204EE9;
    padding-right: 1%;
    border: none;
    font-size: 0.8em;
}
.heading {
    font-family: RalewayS;
    font-size: 0.8em;
    color: #1A1A1A;
    text-transform: uppercase;
    display: inline-block;
    width: 38%;
    margin: 0;
    margin: 1%;
    margin-left: 4%;
}

.hed-des
{

	color: #545454;
	 font-size: 0.8em;
	display: inline-block;
	text-transform: uppercase;
	width: 50%;
	margin: 0;
}
.item-price
{
	padding-left: 20px;
    padding-right: 50px;
}
.item-price-des {

    color: #545454;
    border-top: 2px solid #e6e6e6;
    border-bottom: 2px solid #E6E6E6;
    padding: 2%;
    font-size: 1.4em;
}
.small-cross-img {
    text-align: right;
    margin-right: 8%;
}
.small-cross-img img{ 
    width: 20px;
}
.amount
{
	width: 55%;
    border-top: 1px solid #545454;
    border-bottom: 1px solid #545454;
    margin: 0 auto;
    padding: 10px;
    font-size: 25px;
    color: #545454;
}

/* -------------- End of item description css -----------*/

.hr-line
{
	margin: 25px 50px;
    height: 1px;
   /* background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(20%, #E6E6E6));
    background: -o-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(20%, #E6E6E6));
    background: -moz-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(20%, #E6E6E6));*/

    background: #000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#D6D6D6, #E6E6E6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#D6D6D6, #E6E6E6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#D6D6D6, #E6E6E6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#D6D6D6, #E6E6E6); /* Standard syntax */
}

/* -------------- coupon button css ----------- */
.coupon-btn
{
	background-color: #EAEAEA;
    border-top: 1px solid #DDBE87;
    display: inline-block;
    width: 100%;
    
}
.btn-box
{
	display: inline-block;
	width: 54%;
	padding-left: 1%;
}
.btn-box input
{
	display: inline-block;
	width: 40%;
}
.total-amount
{
	display: inline-block;
	width: 44%;
	text-align: center;
}
.coupon-btn input[type="button"] {
    width: 25%;
    padding: 1.5%;
    background-color: #BA9F70;
    color: #fff;
    border: none;
    margin-right: 1%;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.8em;
}
.total-amount p
{
	display: inline-block;
    width: 17%;
}
#total-amnt
{
	font-size: 1.2546875125469998em;
	color: #333333;
	font-family: RalewayS;
	text-transform: uppercase;
}
#amnt-digit
{
	font-size: 1.3383333467168em;
	color: #ED4E1B;
	font-family: RalewayS;
	margin: 0;
}
.checkout-btn {
    width: 90%;
    margin: 2% auto;
}


/* -------------- end of coupon button css ----------- */


/* -------------- continue shopping button css ----------- */
.continue-shop
{
	display: inline-block;
	width: 45%;
}
.continue-shop input[type="button"] {
    width: 71%;
    padding: 1.5%;
    font-size: 0.9em;
    background-color: #D7D7D7;
    border: none;
    color: #313131;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.place-order
{
	display: inline-block;
	width: 45%;
	margin-left: 9.5%;
	text-align: right;
}

.place-order input[type="button"] {
    width: 71%;
    padding: 1.5%;
    font-size: 0.9em;
    background-color: #ED4E1B;
    border: none;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}
/* --------------End of continue shopping button css ----------- */
.hr-line-2
{
	margin: 25px 80px;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#D7D7D7), to(#D7D7D7), color-stop(100%, #E6E6E6));
}

/* --------------- work info css -------------- */
.main__listing_container.work-info
{
	margin: 2% 8%;
	font-family: RalewayB;
	font-size: 16pt;
	color: #545454;
}

.col1-export-jewl
{ 
	float: left;
    width: 28%;
    font-size: 12pt;

    margin-left: 6%;
    margin-right: 6%;
}

.col2-book-jwel
{ 
	display: inline-block; 
	width: 28%; 
	font-size: 12pt;

}

.col3-pick-jwel
{ 
	float: right; 
	width: 28%; 
	font-size: 12pt;

}
.col1-img, .col2-img, .col3-img
{
	display: inline-block;
    width: 22%;
    vertical-align: middle;
    margin-right: 3%;
}
.col1-title, .col2-title, .col3-title
{
	display: inline-block;
	width: 70%
}

.work-info2{
    width: 85%;
    margin: 1% auto;
    font-size: 1.2em;
    color: #545454;
    padding-bottom: 2%;
}
.work-info-cart{
     width: 90%;
    margin: 1% auto;
    font-size: 1.2em;
    color: #545454;
    border-top: 1px solid #E6E6E6;
    padding-bottom: 2%;
    
}

/* ------------------  Media Queries ------------------------- */
@media only screen and (max-width: 1350px)
{
.coupon-btn input[type="button"] {
    width: 40%;
    padding: 2%;
    background-color: #BA9F70;
    color: #fff;
    border: none;
    font-family: RalewayS;
    margin-right: 1%;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2em;
    margin: 4%;
    margin-right: 0%;
}
.continue-shop input[type="button"] {
    width: 70%;
    padding: 2%;
    font-size: 1.2em;
}
.place-order input[type="button"] {
    width: 70%;
    padding: 2%;
    font-size: 1.2em;
}
.amount-payable {
    width: 25%;
}
.item-description {
    margin-left: 5%;
}
.heading {
    margin-left: 2%;
}
#quantity {
    padding: 1%;
    margin: 1%;

}
.total-amount {
    font-size: 1.2em;
}
.amount-payable {
    padding-top: 5%;
    padding-left: 4%;
        font-size: 1.5em;
}
.amount {
    width: 84%;
    padding: 2%;
    font-size: 1.2em;
    color: #545454;
}
.item-price {
    padding-left: 1%;
    padding-right: 5%;
}
.item-img {
    float: left;
    width: 22%;
}
.small-cross-img {
    margin-right: 5%;
}
.small-cross-img img {
    width: 15px;
        margin-top: -10%;
}
.total-amount {
    display: inline-block;
    width: 37%;
    text-align: right;
}
.total-amount p {
    display: inline-block;
    width: 28%;
}
#amnt-digit {
    font-size: 1.5em;
}
}

@media only screen and (max-width: 1200px){
    
    .place-order {
    width: 46%;
    margin-left: 5%;
    }
    .continue-shop {
    display: inline-block;
    width: 48%;
    }
}
.heading {
    font-size: 1em;
}
.hed-des {
       font-size: 1em;
}
.small-cross-img img {
    width: 15px;
}

}
@media only screen and (max-width: 1000px){
    .cart-box{
        width: 95%;
    }
    
}
/*@media only screen and (max-width: 1186px)
{
	.place-order
	{
		    margin-left: 9.4%;
	}
}

@media only screen and (max-width: 1244px)
{
	#amnt-digit
	{
		margin: 0;
	}

@media only screen and (max-width: 1110px)
{
	.coupon-btn input[type="button"] 
	{
    	width: 170px;
    }
    .item-img
	{
		width: 28%;
	}
	.item-description
	{
		width: 41%;
	}
	.amount-payable
	{
		width: 30%;
	}
}
@media only screen and (max-width: 887px)
{

	.cart-box
	{
		 margin-left: 50px;
   		 margin-right: 50px
	}

	.checkout-btn
	{
		margin-left: 42px;
   		margin-right: 40px;
	}
}

@media only screen and (max-width: 843px)
{
	.hr-line-2
	{
		margin: 25px 58px;
	}

	.work-info
	{
		margin: 0 6%;
	}
	.heading
	{
		font-size: 10px;
	}
	.item-price-des
	{
		font-size: 18px;
	}
	.amount
	{
		font-size: 20px;
	}
}
@media only screen and (max-width: 829px)
{
	.cart-box 
	{
    	margin-left: 20px;
    	margin-right: 20px;
	}
	.checkout-btn 
	{
    	margin-left: 12px;
    	margin-right: 12px;
	}
	.hr-line-2 
	{
    	margin: 25px 24px;
	}
}

@media only screen and (max-width: 805px)
{
	.work-info 
	{
    	margin: 0 4%;
	}
}
@media only screen and (max-width: 772px)
{
	.cart-box 
	{
    	margin-left: 10px;
    	margin-right: 10px;
	}
	.checkout-btn 
	{
    	margin-left: 3px;
    	margin-right: 3px;
	}
	.hr-line-2 
	{
    	margin: 25px 13px;
	}
	.work-info 
	{
    	margin: 0 3%;
	}

	.col3-pick-jwel, .col2-book-jwel, .col1-export-jewl
	{
		width: 29%;
	}
	.col1-export-jewl, .col2-book-jwel, .col3-pick-jwel
	{
		font-size: 10pt;
	}
}
@media only screen and (max-width: 772px)
{
	.heading
	{
		    width: 38%;
	}
	.hed-des
	{
		width: 52%;
	}
}

@media only screen and (max-width: 736px)
{
	.btn-box
	{
		width: 56%;
	}
	.total-amount
	{
		width: 42%;
	}
}
@media only screen and (max-width: 725px)
{
	
	.hed-des 
	{
    	width: 52%;
	}
	.heading,#quantity
	{
    	width: 34%;
	}
	.work-info
	{
		font-size: 12pt;
	}

}
@media only screen and (max-width: 718px)
{
	.place-order 
	{
    	margin-left: 8.9%;
	}
	.coupon-btn input[type="button"]
	{
    	width: 150px;
	}
	#total-amnt 
	{
    	font-size: 1.15688em;
	}
	#amnt-digit 
	{
    	font-size: 1.2383333467168em;
    }
}

@media only screen and (max-width: 718px)
{
	.box-title
	{
		    padding-left: 15px;
	}
	.box-item 
	{
    	padding-left: 15px;
    	padding-right: 15px;
	}
}

@media only screen and (max-width: 877px)
{
	.item-name
	{
		font-size: 12pt;
		padding-left: 15px;
	}
	#quantity
	{
		padding-left: 15px;
	}
	.heading
	{
		padding-left: 15px;
	}
	.hed-des
	{
		color: #2A2A2A;
    	font-size: 10px;
	}
}

@media only screen and (max-width: 641px)
{
	.item-img 
	{
	    width: 42%;
	}
	.item-description 
	{
    	width: 55%;
    	border-right: none;
	}
	.amount-payable 
	{
    	width: 90%;
    	float: none;
    	padding-top: 0;
    	padding-bottom: 42px;
	}

	.btn-box 
	{
	    width: 59%;
	}
	.total-amount 
	{
    	width: 39%;
	}
	#total-amnt
	{
    	font-size: 1.13688em;
	}
	.total-amount p
	{
		width: 21%;
	}
	#amnt-digit 
	{
    	font-size: 1.2183333467168em;
	}
	.coupon-btn input[type="button"] 
	{
    	width: 130px;
	}
}
@media only screen and (max-width: 544px)
{
	.item-img 
	{
    	width: 90%;
    	padding: 2% 5% 
	}
	.item-description 
	{
    	width: 90%;
    	padding: 2% 5% 
    	border-right: none; 
	}
	.amount-payable
	{
    	width: 90%;
    	padding: 2% 5% 
	}
	.btn-box 
	{
    	width: 50%;
	}
	.total-amount 
	{
    	width: 40%;
    	vertical-align: text-bottom;
	}
	.coupon-btn input[type="button"] 
	{
    	width: 130px;
    	margin: 10px;
    }
    #total-amnt 
    {
    	font-size: 1.13688em;
   	 	margin-right: 4%;
	}
	.continue-shop input[type="button"] 
	{
    	width: 100%;	
    }
    .place-order input[type="button"] 
    {
    	width: 100%;
    }	
    .continue-shop
	{
		width: 100%;
		margin-top: 10px; 
	}
	.place-order
	{
		width: 100%;
   		margin-top: 10px;
   		margin-left: 0;
	}


}
@media only screen and (max-width: 384px)
{
	#total-amnt 
	{
    	margin-right: 12%;
    }
}

*/
