/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 Jul, 2016, 3:19:00 PM
    Author     : vikrant
*/
.sort{
    display: inline-block;
    width: 20%;
    padding: 1%;
    color: #727272;
    font-family: Raleway;
}

.cat1{
    border-bottom: 1px solid #e3e3e3;
    font-family: Raleway;
}

.cat{
    display: inline-block;
    width: 50%;
    padding: 1%;
    text-align: center;
    font-size: 1.5em;
    color:#ddbe86;
}
.sort select {
    padding: 8px 20px;
    background: #FFF;
    border-radius: 5px;
    color: #727272;
    width: 70%;
    font-size: 15px;
}
.sort .current{
    color: red;
}
.categoryP .filters{
    width: 20%;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 0px 0px rgba(0,0,0,0.22);
    font-family: Raleway;
}
.categoryP .products {
    width: 76%;
    display: inline-block;
    margin: 2% auto;
    margin-left: 2%;
}
.products .pro {
    border: 1px solid #ddbe86;
    width: 22.4%;
    margin: 1%;
    display: inline-block;
    color: #727272;
    position: relative;
}
.about_cat {
    font-weight: normal;
    border: 1px solid #ddbe86;
    width: 47%;
    margin: 1%;
    display: inline-block;
    color: #727272;
    vertical-align: top;
    overflow: auto;
}
.about_cat h4 {
    color: #111;
    width: 90%;
    font-size: 1.5em;
    border-bottom: 1px solid #ddbe86;
    margin: 3% auto;
}
.about_cat p{
    font-family: Raleway;
    width: 90%;
    margin:1% auto;
    font-weight: normal;
}
.about_cat a{
    color: #ddbe86;
    border-bottom: 1px dashed #e3e3e3;
        font-weight: 900;
}
.f {
    padding: 5%;
    font-size: 1.2em;
    border-bottom: 1px solid #e3e3e3;
    font-family: Raleway;
    color: #111;
    cursor: pointer;
    margin-bottom: 0;
    padding-left: 5%;
}
.f10{
    padding-bottom: 8%;
}
.f span{
    float: right;
}
.hide input[type=checkbox]{
    width: 16px;
    height: 16px;
    margin: 2%;
    box-shadow: none;
    border: 1px solid #727272;
    vertical-align: middle;
}

.hide input[type="checkbox"] {
  display: none;
}

.hide input[type="checkbox"] + label:before {
    border: 1px solid #7f83a2;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 1%;
    margin-right: 4%;
    padding: 0;
    vertical-align: middle;
    width: 16px;
}
.hide input[type="checkbox"]:checked + label:before {
    background: #fff;
    color: green;
    content: "\2713";
    text-align: center;
    font-weight: bold;
}
.hide input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}

.hide {
    display: none;
    color: #727272;
    font-size: 0.8em;
    margin-top: 2%;
    font-weight: normal;
}
.book {
    position: absolute;
    right: 0;
    padding: 2%;
}




/*++++++++++++++++++++++++++++++++++++++++++++++++++++slider++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/



/*+++++++++++++++++++++++++++++++++++++++ media queries ++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media only screen and (max-width: 1500px){
    
    .foot{
        width: 85%;
    }
    .last {
    width: 100%;
    }
    .products .pro {
    width: 30.4%;
    }
.about_cat {
    width: 63.5%;
}

    
    
}
@media only screen and (max-width: 1200px){
    .sort {
    width: 20%;
    }
    .cat {
    width: 50%;
    }
    
}

@media only screen and (max-width: 1000px){
    .categoryP .filters {
    width: 25%;
}
.categoryP .products {
    width: 72%;

}

.about_cat {
    width: 47.1%;
    margin: 1%;
}
.products .pro {

    width: 47%;
    margin: 1%;


}
.sort1 {

    width: 28%;
}
.sort1 select {
    padding: 5px 5px;
    width: 70%;
}
.cat {

    width: 44%;
}

    
}
@media only screen and (max-width: 700px){
.categoryP .filters {
    display: none;
}
.categoryP .products {
    width: 95%;

}

.about_cat {
    width: 48%;
    margin: 1% auto;
}

.products .pro {
    width: 47%;
    margin: 1%;
}
.sort1 {
    width: 30%;
}
.sort1 select {
    padding: 5px 5px;
    width: 70%;
}
.cat {
    width: 40%;
}

}

