/*************** Font Style *******************/

@font-face {
    font-family: ralewarr;
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: ralewarb;
    src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
    font-family: raleways;
    src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: ralewayl;
    src: url(../fonts/Raleway-Light.ttf);
}


body {
    margin: 0;
    padding: 0;
    font-family: ralewayl;
    font-size: 20px;
}
a {
    text-decoration: none;
    color: inherit;
}

.clearboth {
    clear: both;
}
.clearight {
    clear: right;
}
.clearleft {
    clear: left;
}
/********************Header*************************/

.fs_or_header {
    background-color: #DDBE87;
    height: 100px;
    display: inline-flex;
    width: 100%;
}
.logo_or {
    text-align: center;
    width: 20%;
    clear: both;
    height: 100px;
    background-color: #CBAC73;
}
.fs_or_logo {
    margin: 10px;
}
.fs_or_nav {
    width: 46%;
    text-align: center;
}
.fs_or_a {
    height: 100px;
    width: 19.5%;
    display: inline-block;
    color: #fff;
    font-family: raleways;
    font-size: 14px;
}
.fs_or_s1 {
    display: block;
}
.fs_or_a img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 5px;
}
.container_dash {
    padding: 10px;
    padding-top: 20px;
}
.dash_inner {
    text-align: center;
}
.dash_ul {
    display: inline-flex;
    width: 95%;
    margin: 0.5% auto;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px #000;
    margin-bottom: 15px;
}
.container_dash{
    background: #f7f5f6;
}
.dash_li {
    width: 14%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.dash_li span {
    display: block;
    font-weight: bold;
    padding: 2%;
}
.search_fs_2 input {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/search.png');
    background-position: 260px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
.search_fs_1 {
    display: inline-flex;
}
.search_fs_1 span {
    color: #fff;
    font-size: 14px;
    font-family: raleways;
    margin-left: 9px;
    margin-top: 2px;
}
.search_fs {
    margin-top: 10px;
        width: 30%;
    text-align: center;
}
.extra_fs {
    width: 5%;
    text-align: center;
}
.extra_fs img {
    margin-top: 35px;
}
.extra_fs_1 {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}


/* +++++++++++++++++++++++++++++++++++++++++++my edit+++++++++++++++++++++++++*/

.dash_li_sp_1{
    color:#656565;
    font-size: 0.8em;
}

.dash_li_sp_2{
    color: #206CC4;
    font-size: 1.2em;
}
/*++++++++++++++++++++++++++++++++++++++++++ graph css +++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.graph{
    width: 95%;
    margin: 0.5% auto;
    text-align: center;
   
    box-shadow: 0 0 10px #000;
    margin-bottom: 15px;
}
#chartContainer{
    height: 300px;
    width: 100%;

}


.fs_or_header {
    background-color: #DDBE87;
    height: 100px;
    display: inline-flex;
    width: 100%;
}
.logo_or {
    text-align: center;
    width: 20%;
    clear: both;
    height: 100px;
    background-color: #CBAC73;
}
.fs_or_logo {
    margin: 10px;
}
.fs_or_nav {
    width: 46%;
    text-align: center;
}
.fs_or_a {
    height: 100px;
    width: 19.5%;
    display: inline-block;
    color: #fff;
    font-family: raleways;
    font-size: 14px;
}
.fs_or_s1 {
    display: block;
}
.fs_or_a img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 5px;
}
.container_dash {
    padding: 10px;
    padding-top: 20px;
}
.dash_inner {
    text-align: center;
}

.dash_ul {
    display: inline-flex;
    width: 90%;
    text-align: center;
    background-color: #f7f5f6;
    box-shadow: 0 0 3px #000;
    margin-bottom: 0;
}
.ul_4{
    
    margin-top: 0;
    margin-bottom: 1%;

}
.dash_li {
    width: 14%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.dash_li span {
    display: block;
}
.dash_li3 {
    width: 10%;
    border-right: 1px solid #DDBE87;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.dash_li3 span {} .dash_li3_1 {
    width: 12.5%;
    border-right: 1px solid #DDBE87;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: ralewarb;
    font-size: 15px;
}
.dash_li3 span {} .dash_li_sp_2 {
    margin-top: 26px;
    font-family: ralewayl;
    color: #256ECA;
    font-size: 20px;
}
.dash_li_sp_1 {
    font-family: raleways;
    font-size: 13px;
    margin-top: 4px;
}
.dash_li3 {
    font-family: ralewarb;
    font-size: 15px;
}
.dash_li4 {
    width: 10%;
    border-right: 1px solid #DDBE87;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: ralewarr;
    font-size: 15px;
}
.dash_li4_1 {
    width: 12.5%;
    border-right: 1px solid #DDBE87;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: ralewarr;
    font-size: 15px;
}
.search_fs_2 input {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/search.png');
    background-position: 260px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
.search_fs_1 {
    display: inline-flex;
}
.search_fs_1 span {
    color: #fff;
    font-size: 14px;
    font-family: raleways;
    margin-left: 9px;
    margin-top: 2px;
}
.search_fs {
    margin-top: 10px;
    width: 25%;
    text-align: center;
}
.extra_fs {
    width: 5%;
    text-align: center;
}
.extra_fs img {
    margin-top: 35px;
}
.extra_fs_1 {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.d_l_4_img {
    padding: 0;
    height: 80px;
}
.li3_1round span {
    border: 1px solid #DDBE87;
    padding: 10px;
    border-radius: 50px;
}
.dash_li1 {
    width: 34%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border-right: 1px solid #DDBE87;
    cursor: pointer;
    height: 40px;
}
.dash_li1 div {
    margin-top: 10px;
}
.fs_section {
    font-family: ralewarb;
    margin-left: 5%;
    font-weight: normal;
    font-size: 20px;
    color: #575757;
}
.fs_le_col {
    width: 33%;
    float: left;
}
.fs_ri_col {
    width: 33%;
    float: right;
}
.fs_container {
    padding: 80px;
}
.fs_form_r2 {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.fs_p {
    font-family: ralewarr;
    font-size: 16px;
    color: #575757;
}
.fs_input_1 {
    border: 2px solid #CBAC73;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
}
#fs_submit_1 {
    display: block;
    margin-top: 20px;
    width: 36%;
    padding: 10px;
    background-color: #CBAC73;
    border: 2px solid #CBAC73;
    border-radius: 4px;
    color: #fff;
    font-family: ralewarb;
    font-size: 18px;
    cursor: pointer;
}
.fs_submit {
    width: 100%;
}
.fs_left {
    float: left;
}
.fs_right {
    float: right;
}
#fs_submit_1_img {
    display: block;
    margin-top: 20px;
    width: 36%;
    padding: 10px;
    border: 2px solid #CBAC73;
    background: #CBAC73 url('../images/save.png') no-repeat 95px;
    border-radius: 4px;
    color: #fff;
    font-family: rb;
    font-size: 18px;
    cursor: pointer;
}
.fs_left img {
    margin-right: 4px;
}
.ul_1 {
    margin-bottom: 0px;
    box-shadow: 1px 1px 10px #000;
}
.active_dash_li {
    background-color: #CBAC73;
    color: #fff;
}
.active_dash_li_1 {
    background-color: #CBAC73;
    color: #fff;
}
@media only screen and (max-width: 1340px) {
    .logo_or {
        text-align: center;
        width: 15%;
        clear: both;
        height: 100px;
        background-color: #CBAC73;
    }
    .fs_or_nav {
        width: 50%;
        margin-right: 15px;
    }
    .fs_or_a {
        height: 100px;
        width: 19.5%;
        display: inline-block;
        color: #fff;
        font-family: raleways;
        font-size: 12px;
        text-align: center;
    }
    .search_fs {
        margin-top: 10px;
        width: 24%;
        text-align: center;
    }
    .extra_fs {
        width: 10%;
        text-align: center;
    }
    .search_fs_1 img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-top: 4px;
    }
    .search_fs_1 span {
        color: #fff;
        font-size: 14px;
        font-family: raleways;
        margin-left: 0px;
        margin-top: 0px;
    }
    .search_fs_2 input {
        width: 238px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('../images/search.png');
        background-position: 200px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
    }
    .dash_ul {
        width: 95%;
    }
    .dash_li_sp_1 {
        font-size: 11px;
    }
    .dash_li_sp_2 {
        font-size: 18px;
    }
    .dash_li3 {
        font-size: 13px;
    }
}
@media only screen and (max-width: 1280px) {
    .search_fs_2 input {
        width: 300px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('../images/search.png');
        background-position: 250px 10px;
        background-repeat: no-repeat;
        padding: 10px 20px 12px 18px;
    }
    .search_fs_1 img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-top: 0px;
    }
    .search_fs_1 span {
        color: #fff;
        font-size: 14px;
        font-family: raleways;
        margin-left: 5px;
        margin-top: 2px;
    }
    .search_fs {
        width: 24%;
        height: 90px;
        text-align: center;
        padding-top: 10px;
    }
    .fs_or_a {
        height: 100px;
        width: 19.5%;
        ;
        display: inline-block;
        color: #fff;
        font-family: raleways;
        font-size: 12px;
    }
}
@media only screen and (max-width: 1180px) {
    .fs_or_header {
        background-color: #DDBE87;
        height: 100px;
        width: 100%;
        display: block;
    }
    .fs_or_nav {
        width: 50%;
        margin-right: 15px;
        float: left;
        text-align: left;
    }
    .logo_or {
        float: left;
    }
    .fs_or_a {
        height: 100px;
        width: 18.5%;
        color: #fff;
        font-family: raleways;
        font-size: 12px;
        text-align: center;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
    .search_fs {
        width: 24%;
        height: 90px;
        text-align: center;
        padding-top: 2px;
        float: left;
    }
    .search_fs_1 img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-top: 0px;
    }
    .search_fs_1 span {
        color: #fff;
        font-size: 14px;
        font-family: raleways;
        margin-left: 0px;
        margin-top: 2px;
    }
    .search_fs_2 input {
        width: 240px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('../images/search.png');
        background-position: 210px 10px;
        background-repeat: no-repeat;
        padding: 10px 20px 12px 18px;
    }
    .extra_fs {
        width: 7%;
        text-align: center;
        float: right;
        height: 100px;
    }
}
@media only screen and (max-width: 900px) {

.fs_or_a {
    height: 85px;
    }
.search_fs_2 input {
    width: 206px;    
    }

}

@media only screen and (max-width: 900px) {

    .search_fs_2 input {
    width: 200px;    
    }

    .dash_li4 {
    width: 10%;
    border-right: 1px solid #DDBE87;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: ralewarr;
    font-size: 13px;
    }

    #fs_submit_1_img {
    display: block;
    margin-top: 20px;
    width: 36%;
    padding: 10px;
    border: 2px solid #CBAC73;
    background: #CBAC73 url('../images/save.png') no-repeat 95px;
    border-radius: 4px;
    color: #fff;
    font-family: rb;
    font-size: 18px;
    cursor: pointer;
    margin-right: 50px;
}



}

@media only screen and (max-width: 920px) {
    .fs_input_1 {
    border: 2px solid #CBAC73;
    padding: 10px;
    border-radius: 4px;
    width: 84%;
    }
}

@media only screen and (max-width: 870px) {
    .fs_input_1 {
    border: 2px solid #CBAC73;
    padding: 10px;
    border-radius: 4px;
    width: 70%;
    }
}

@media only screen and (max-width: 840px) {

    #fs_submit_1_img {
    display: block;
    margin-top: 20px;
    width: 36%;
    padding: 10px;
    border: 2px solid #CBAC73;
    background: #CBAC73 url('../images/save.png') no-repeat 95px;
    border-radius: 4px;
    color: #fff;
    font-family: rb;
    font-size: 18px;
    cursor: pointer;
    margin-right: 95px;
    }
}


@media only screen and (max-width: 800px) {
    .fs_ri_col {
    width: 33%;
    float: right;
    margin-right: 70px;
    }

}

@media only screen and (max-width: 800px) {
    #fs_submit_1_img {
    display: block;
    margin-top: 20px;
    width: 36%;
    padding: 10px;
    border: 2px solid #CBAC73;
    background: #CBAC73 url('../images/save.png') no-repeat 95px;
    border-radius: 4px;
    color: #fff;
    font-family: rb;
    font-size: 18px;
    cursor: pointer;
    margin-right: 130px;
    }
}
       