

.main_div{

width: 100%;
    margin: 2% auto;


}
.rest_images{
    text-align: center;
}

.image_container {
    width: 45%;
    position: relative;
    display: inline-block;
    padding-left: 0;
    text-align: center;
}
.product_details {
    width: 45%;
    display: inline-block;
    margin-left: 5%;
    margin-top: 1%;
    vertical-align: top;
}

.lg-img {
    width: 65%;
    margin: 2% auto;
}

.image {
    width: 100%;
}

.bookmark{
         position: absolute;
    top: 2%;
    right: 2%;
    width: 50px;

}

.left_arrow{
    vertical-align: top;
    margin-top: 8%;
    width: 2%;
}

.rest_img
{
        width: 18%;
    display: inline-block;
        ;
}


.right_arrow{
    vertical-align: top;
    margin-top: 8%;
    width: 2%;
}

.product-title p {
    color: #FF8080;
    font-size: 1.5em;
    font-family: RalewayS;
    margin: 0.5%;
}

.maker_name p {
    text-decoration: underline;
    color: #4A4A4A;
    font-size: 1.1em;
    margin: 0.5%;
}

.price_info {
    width: 82%;
    display: inline-block;
    font-size: 1.3em;
    padding: 2%;
    padding-left: 0;
    margin: 1%;
    margin-left: 0;
    margin-bottom: 0;
    border-top: 1px solid #848484;
    border-bottom: 1px solid #848484;
}

.price{
    margin: 0px;

}

.review_pen_image{
margin-right: 10px;	
}

.codered{

color: red;
margin-right: 20px;
margin-left: 20px;
}

.det-rating {
    display: inline-block;
    width: 15%;
    margin-right: 10%;
}
.about-pro-details {
    width: 90%;
    margin: 1% auto;
    padding-bottom: 2%;
    border-bottom: 1px solid #848484;
}
.rating2 {
    display: inline-block;
    width: 40%;
    font-size: 1em;
    color: #424242;
}

.com-div {
    border-bottom: 1px solid #848484;
    padding: 2%;
    width: 80%;
}

.qualitydetails {
    color: #848484;
    margin: 2%;
    margin-bottom: 1%;
    margin-left: 0;
    font-size: 1em;
}
.qualitydetailss {
    color: #848484;
    margin: 1%;
    margin-left: 0;
    font-size: 1em;
}

.price_heading {
    color: #424242;
    font-size: 1.25em;
}

.breakup_table {
    display: inline-flex;
    width: 100%;
}

.td_col{
border: 1px solid grey; 
width: 16%;
text-align: center;
color: #626262;
}
.breakup_table .ex{
    width: 25%;
}

.td_col p{
    margin: 5%;
    font-size: 0.9em;
    font-weight: 600;
}
.td_col p + p{
    font-weight: 200;
    margin-bottom: 1%;
}

.breakup_table .p {
    width: 4%;
    text-align: center;
}

.buy_button button {
    width: 85%;
    padding: 1.5%;
    background-color: #39B54A;
    margin: 4% auto;
    color: #fff;
    font-size: 1.5em;
    border: none;
    font-family: RalewayS;
}

.name_values{
color: #3B3B3B;
font-size: 1.25em;
margin: 0;

}


.guarantee-fs
{
    width: 48%;
    display: inline-block;
}
.guarantee-fs p {
    display: inline-block;
    margin-bottom: 0;
}

.guarantee_content{
    margin-left: 1%;
    color: #3B3B3B;
    width: 80%;
    display: inline-block;
    font-size: 16px;

}


.buyback-fs
{
    width: 45%;
    display: inline-block;
    
}

.buyback{
    
    display: inline-block;	
    vertical-align: middle;
}

.buyback_content{
    margin-left: 1%;
    color: #3B3B3B;
    width: 82%;
    display: inline-block;
    font-size: 16px;
    

}

.medal_img{
    display: inline-block;
}


.certified_1{

    margin-left: 1%;
    color: #3B3B3B;
    width: 75%;
    display: inline-block;
    font-size: 16px;
}


.simi_prod_pictures
{
    width: 100%;
    margin: 0 5%;

}

.stars_rating{
    text-align: center;
}

.codered_pro{
	color: red;
    margin-left: 2px;
    margin-right: 5px;
}

.similar_products{
    width: 90%;
    margin: 1% auto;
    font-size: 1.1em;
    color: #3B3B3B;
}
.main_div .s{
    border-radius: 3px;
    width: 223px;
    height: 311.97px;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    border: 1px solid #BA9F70;

}


.book{
    position: absolute;
    top: 0;
    right: 0;
}

.views{
float: right;	
color: #545454;
margin: 5px;
}

.price_1{
    margin-left: 10%;
    font-size: 13.22px;	
    color: #575757;
}


.product_des {
    color: #4A4A4A;
    width: 48%;
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
    border-right: 1px solid #8c8c8c;
    padding: 2%;
    padding-left: 0;
    padding-top: 1%;
}

.prod_description {
    width: 85%;
    margin: 1% auto;
    border-top: 1px solid #8c8c8c;
    border-bottom: 1px solid #8c8c8c;
}

.det-title {
    width: 14em;
    padding: 1.5%;
    font-size: 1.2em;
    font-weight: 600;
    padding-left: 0;
}
.det-value{
    width: 10em;
    padding: 1.5%;
    font-size: 1.2em;
    padding-left: 0;
}

.h3-hed{
    font-size: 22.01px;
    color: #3B3B3B;
}
.h3-hed1{
    font-size: 1.1em;
    color: #3B3B3B;
    font-weight: normal;
}

.table_1{
    font-size: 16px;
    color: #3b3b3b;
}

.table_2{
    font-size: 16px;
    color: #3b3b3b;
}

.table_3{
    font-size: 16px;
    color: #3b3b3b;
}

.plus_sign_red{
    float: right;
    font-size: 39px;
    color: red;
    margin-top: 0px

}

.user_form{
	width: 74px;
}

.main_form {
    display: inline-flex;
    width: 100%;
}

.main_form form{
    width: 100%;
}



.main_form p {
    display: inline-block;
    margin: 1%;
    width: 59%;
    vertical-align: middle;
}
.main_form .form-title {
    width: 35%;
}
.hr_vert_tag{
    display: inline-block;
    width: 1px;
    height: 389px;
    
    margin-right: 56px;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#D7D7D7), to(#D7D7D7), color-stop(100%, #E6E6E6));
}

.customer_form {
    color: #4A4A4A;
    width: 40%;
    display: inline-block;
    padding: 1%;
    padding-left: 0;
    margin-left: 2%;
}

.user_details{
margin-left: 50px;
}


.customer_form input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #545454;
    width: 100%;
    margin-top: 2%;
    padding: 1%;
    font-size: 1.2em;
}

.customer_form button {
    margin: 4% auto;
    width: 61%;
    padding: 1%;
    font-size: 1.2em;
    float: right;
    color: #FFF;
    border: 1px solid #BA9F70;
    background-color: #BA9F70;
    border-radius: 5px;
}

.cust_number_help{
    margin-left: 6px;
    font-size: 18px;
    color: #3b3b3b;
}

.return{
    margin-left: 6px;
    color: #ff4040;
    text-decoration: underline;
}

.refund_div{
    margin-top: 10px;
}

a{
color: inherit;

}

.work-info {
    width: 85%;
    margin: 1% auto;
    font-size: 1.2em;
    color: #545454;
    border-bottom: 1px solid #8c8c8c;
    padding-bottom: 2%;
}
.review-info{
    width: 85%;
    margin: 1% auto;
    font-size: 1.2em;
    color: #545454;
    padding-bottom: 2%;
}

.col1-export-jewl
{
float: left;
   width: 28%;
   font-size: 12pt;
   
   margin-left: 6%;
   margin-right: 6%;
}

.col2-book-jwel
{
display: inline-block;
width: 28%;
font-size: 12pt;

}

.col3-pick-jwel
{
float: right;
width: 28%;
font-size: 12pt;

}
.col1-img, .col2-img, .col3-img
{
display: inline-block;
   width: 22%;
   vertical-align: middle;
   margin-right: 6%;
}
.col1-title, .col2-title, .col3-title
{
display: inline-block;
width: 70%;
    font-size: 1.1em;
}

.review
{
    width: 100%;
    margin-bottom: 2%;
}
.review_text{
    color: 	#4A4A4A;
    display: inline-block;
    width: 50%;
}
.top_reviews {
width: 100%;    
}


.top_reviews button {
    border: 1px solid #BA9F70;
    background-color: #BA9F70;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    width: 18%;
    margin: 0 13%;
    padding: 0.5%;
    font-size: 0.8em;
}



.review_table{
border-collapse: separate;
    /*border-spacing: -53px;*/
    margin-left: 8%;
        color: 	#4A4A4A;
width: 92%;
    border-spacing: 10px 8px;
}

.view_more_button {
    width: 50%;
    border-radius: 4px;
    padding: 0.5%;
    font-size: 1em;
    margin: 1% auto;
    background-color: #BA9F70;
    border-color: #BA9F70;
}


.review_td{
    width: 10%;
}

.review-breif {
    display: inline-block;
    width: 20%;
    text-align: center;
}
.review-breif p {
    margin: 0.5%;
    font-size: 0.8em;
}
.review-say {
    display: inline-block;
    width: 75%;
    vertical-align: top;
}

.review-say h4{
    margin: 0;
    font-size: 0.8em;
}
.review-say p{
    margin: 0;
    font-size: 0.8em;
}

.row-review{
    margin: 2% auto;
}
/*  -------------------------- MEdia Query -------------------*/


@media only screen and (max-width: 1300px) {
    .guarantee-fs {
    width: 70%;
    display: inline-block;
}
.about-pro-details {
    width: 95%;
}
 .product_details {
    width: 51%;
    margin-left: 2%;
}  
.det-rating {
    width: 30%;
}
 .prod_description {
    width: 90%;
 }
 .work-info {
    width: 90%;
 }
 .review-info {
    width: 90%;
 }
}


/*@media only screen and (max-width: 1300px) {

    .product_details
    {
        margin-left: 0%;
    }

    .image {
    width: 90%;
    }
    .bookmark {
    position: absolute;
    top: 4%;
    right: 61%;
    }
}

@media only screen and (max-width: 900px) {

    .product-title p 
    {
        font-size: 24px;
    }

    .maker_name p
    {
        font-size: 14px;
    }
  
    .rating2 
    {
        display: inline-block;
        width: 45%; 
    }
    .review_pen_image 
    {
        margin-right: 4px;
    }
    .product_des
    {
            margin-left: 5%;
            margin-right: 0;
    }

}

@media only screen and (max-width: 700px) {

    .product-title p
    {
            font-size: 20px;
    }
    .maker_name p 
    {
        font-size: 14px;
    }
 
    .rating2 
    {
        width: 50%;
    }
    p.qualitydetails
    {
        font-size: 14px;
    }
    .price_heading 
    {
        font-size: 16px;
    }   
    .buy_button button 
    {
        width: 95%;
        height: 34px;
        color: #fff;
        font-size: 18px;
    }
    .name_values
    {
            font-size: 16px;

    }
  .guarantee
   {
        width: 15%;
        display: inline-block;
        vertical-align: baseline;
    }

    .guarantee_content 
    {
        width: 80%;
        font-size: 13px;
    }
    .buyback-fs 
    {
        width: 48%;
        display: inline-block;
        margin-left: 5%;
    }
    .buyback 
    {
        width: 11%;
        vertical-align: baseline;
        margin-right: 2%;
    }
    .buyback_content
    {
            margin-left: 1%;
            font-size: 13px;
            width: 80%;
    }
    .hr1
    {
            margin: 20px 23px;
    }
    .simi 
    {
        margin-left: 25px;
        font-size: 22px;
    }
    .s 
    {
        
        width: 18%;
        margin-left: 3px;
    }

    .user_form
    {
        font-size: 14px;
    }
    .user_details 
    {
        margin-left: 15px;
    }
    .customer_form input 
    {
        width: 225px;
    }

    .user_details button
    {
            width: 225px;
    }
    .h3-hed
    {
        font-size: 16px;
    }

    .product_des table tr td
    {
        font-size: 14px;
    }
    .review_text 
    {
        width: 38%;
        margin: 0 8%;
        font-size: 16px;
    }
    .top_reviews button 
    {
        font-size: 14px;
        width: 20%;
        height: 26px;
    }
    .review_table 
    {
        border-collapse: separate;
        margin-left: 4%;
        color: #4A4A4A;
        width: 92%;
        border-spacing: 6px 6px;
        font-size: 14px;
    }

}
@media only screen and (max-width: 500px) {

    .image_container 
    {
        width: 90%;
        display: inline-block;
        padding-left: 8%;
        margin-top: 3%;
    }
    .bookmark 
    {
        position: absolute;
        top: 7%;
        right: 14%;
    }
    .rest_img
    {
        width: 17%;
    }
    .product_details 
    {
        margin: 3% 4%;
        width: 90%;
    }
    .customer_form
    {
        width: 50%;
    }
    .customer_form input 
    {
        width: 135px;
    }

     .user_details button
    {
        width: 135px;
    }
    .work-info
    {
        font-size: 13pt;
    }

    .col1-export-jewl 
   {
       
        width: 32%;
        font-size: 12px;
        margin-left: 2%;
        margin-right: 2%;
    }

    .col2-book-jwel , .col3-pick-jwel
    {
        width: 30%;
        font-size: 12px;
    }
    .top_reviews button
    {
        width: 25%;
    }
    .review_table
    {
        border-spacing: 5px 3px;
    font-size: 12px;
    }

}
*/
