@font-face 
{
    font-family: 'Raleway-Regular';
    src: url('../fonts/Raleway-Regular.ttf');
}

@font-face 
{
    font-family: 'Raleway-Bold';
    src: url('../fonts/Raleway-Bold.ttf');
}

/* ----------- main container css ------------ */
.main__listing_container
{
	font-family: 'Raleway-Regular';
	border:1px solid #E6E6E6;
	margin: 2% 5%;
}

.product-listing
{
	margin-left: 4%;
    color: #545454;
}

.all-images
{
	margin-left: 4%;
    color: #545454;
    font-size: 16px;
}

/* --------- slider image container box css ------------ */

.slide-img-container
{
	width: 95%;
    margin: 2% auto;
}

.slide-img-container .img-box
{
	display: inline-block;
}

.slide-img-container .left-arrow-box, .right-arrow-box
{
	width: 3%;
}

.slide-img-container .show-image
{
	width: 17%;
	border: 1px solid #DDBE87;
	margin: 0 .5%;
	position: relative;
	vertical-align: middle;
}

.show-image a:hover
{
	opacity: .5;
}

.slide-img-container img
{
	width: 100%;
}

.img-btn img
{
	width: 20%;
    margin-right: 5%;
    vertical-align: middle;
}

#plus-img img
{
	    width: 35%;
    padding: 35% 34%;
}

.slide-img-container .img-btn
{
	position: absolute;
	top: 32%;
    left: 28%;
}

/* --------------- image hover button css ---------------- */

 button.view  
{
	border: none;
	background-color: #ddbe87;
	margin: 2%;
	color: #fff;
	font-size: 12px;
	width: 70%;
	height: 36px;
	text-transform: uppercase;
	border-radius: 5%;
}

button.delete  
{
	border: none;
	background-color: #f35a5c;
	margin: 2%;
	color: #fff;
	font-size: 12px;
	width: 70%;
	height: 36px;
	text-transform: uppercase;
	border-radius: 5%;
}


.input-field
{
	width: 70%;
    margin: 2% auto;
    padding: 1%;

}

/*---------- left input field css -----------*/


.left-field
{
	display: inline-block;
    width: 40%;
    margin-right: 12%;
    vertical-align: bottom;
}

/*---------- left input field css -----------*/
.right-field

{
	display: inline-block;
	width: 40%;
	    margin-left: 7%;
}

/*---------- row css ------------*/
.row
{
	margin: 2% 1%;
}

.input-field label
{
	font-size: 14px;
	color: #545454;
	font-family: 'Raleway-Regular';
}

/*--------- small input field css ---------*/
.small-field input
{
    width: 75%;
    height: 15px;
    display: block;
    border: 1px solid #ddbe87;
    border-radius: 3px;
    padding: 3%;
    margin-top: 2%;
}

/*---------- large input field css -----------*/
.large-field input
{
	width: 90%;
    height: 15px;
    display: block;
    border: 1px solid #ddbe87;
    border-radius: 3px;
    padding: 1%;
    margin-top: 1%;
}

.input-field select
{
	width: 81%;
    height: 33px;
    display: block;
    border: 1px solid #ddbe87;
    border-radius: 3px;
    padding: 1%;
    margin-top: 2%;
    background: transparent;
}

.back-color
{
	background: #fff!important;
}

/*------------ input field container box css ------------*/
.add-extraa-field
{
	width: 90%;
	border: 1px solid #ddbe87;
	background-color: #F0F0F0;
	margin-left: 1%;
	margin-top: 2%;
}

.btn-field-box
{
	border-bottom: 1px solid #ddbe87;
}

.btn-field-box button
{
	background: transparent;
    border: none;
    margin-left: 95%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.certificate
{
	margin: 1%;
}

.pan-card
{
	margin-bottom: 1%;
	color: #545454;
	font-family: 'Raleway-Regular';
}

.certificate button
{
	width: 250px;
    height: 30px;
    background: #CBAC73;
    border: none;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    font-family: 'Raleway-Bold';

}

.certificate img
{
	margin-right: 4%;
    vertical-align: top;
}

.action-btn button
{
	width: 29%;
	height: 30px;
	color: #fff;
	background: #CBAC73;
	border: none;
	border-radius: 3px;
	font-family: 'Raleway-Bold';
}

#clear-btn
{
	margin: 0 2%;
}

.action-btn img
{
	margin-right: 4%;
	vertical-align: text-bottom;
}



/* -------------------- Media query --------------------*/

@media only screen and (max-width: 900px)
{
	.main__listing_container
	{
		margin: 3% 3%;
	}

	.slide-img-container 
	{
    	padding-left: 4%;
	}
	.slide-img-container .show-image 
	{
    	width: 17%;
    	margin: 0;
	}

	.slide-img-container .img-btn 
	{
    	position: absolute;
    	top: 25%;
    	left: 18%;
	}
	button.view
	{
		font-size: 10px;
    	width: 65%;
    	height: 22px;
	}
	button.delete
	{
		font-size: 10px;
    	width: 65%;
    	height: 22px;
	}
	.btn-field-box button
	{
		margin-left: 90%;
	}
	.certificate button
	{
		width: 250px;
    	height: 30px;
	}


}
@media only screen and (max-width: 812px)
{
    .left-field
    {
        margin-right: 8%;
    }
    .input-field select
    {
        height:30px;
    }
}

@media only screen and (max-width: 700px)
{
	button.view , button.delete
	{
    	font-size: 9px;
    	width: 75%;
    	height: 22px;
	}
	.input-field 
	{
    	width: 75%;
    }	
	.certificate button 
	{
    	width: 200px;
    }	
}	

@media only screen and (max-width: 600px)
{
	.input-field 
	{
    	width: 80%;
    }
    .input-field label
    {
    	font-size: 12px;
    }
    button.view , button.delete
    {
    	font-size: 9px;
    	width: 81%;
    	height: 20px;
	}
}
