/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 Jul, 2016, 3:19:00 PM
    Author     : vikrant
*/
@font-face{
	font-family: Raleway;
	src: url(../fonts/Raleway-Regular.ttf);
        
	}
                    
@font-face{
	font-family: RalewayB;
	src: url(../fonts/Raleway-Bold.ttf);
        
	}
        
@font-face{
	font-family: RalewayX;
	src: url(../fonts/Raleway-ExtraBold.ttf);
        
	}
@font-face{
	font-family: RalewayS;
	src: url(../fonts/Raleway-SemiBold.ttf);
        
	}
body{
    margin: 0;
    padding: 0;
    font-family: Raleway;
    font-size: 1.2em;
    
   }


/* +++++++++++++++++++++++++++++++++++++++++++++++ Header Css Starts Here +++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.trending-product{
    display: none;
}
header{
    background: #ddbe86;
    width: 100%;
}
.logo {
    display: inline-block;
    width: 8%;
    padding: 0.5%;
    margin-left: 2%;
    vertical-align: middle;
    text-align: center;
}
.location {
    display: inline-block;
    width: 62%;
    top: 1.2%;
    margin: 1%;
    vertical-align: middle;
    text-align: center;
}

.protest{
    width: 90%;
    margin: 2%;
     border: 1px solid #ddbe86;
    display: inline-block;
    color: #727272;
}
.city select {
    padding: 12px 40px;
    background: #ba9f6f;
    border-radius: 5px;
    color: #FFF;
    width: 100%;
    border: 1px solid #ba9f6f;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.city {
    position: relative;
    width: 200px;
    display: inline-block;
    background: #ba9f6f;
    border-radius: 5px;
    color: #FFF;
    border: 1px solid #ba9f6f;
    text-align: left;
    vertical-align: middle;
}
.plane {
    position: absolute;
    padding: 15px 10px;
}
.down {
    position: absolute;
    padding: 15px 5px;
    right: 0px;
}
.search {
    width: 550px;
    padding: 10px;
    background: #FFF;
    border-radius: 5px;
    color: #666;
    display: inline-block;
    margin: 1%;
    vertical-align: middle;
}
.search input {
    width: 90%;
    border: none;
    padding: 2px;
    font-size: 1em;
    color: grey;
}
.search img{
    vertical-align: middle;
}
.cityS{
    background: #ba9f6f;
    border-radius: 5px;
    color: #FFF;
        width: 180px;
    padding: 12px;
    display: inline-block;
    border: none;
    vertical-align: middle;
        font-size: 1em;
}
.reg {
    display: inline-block;
    width: 22%;
    padding: 0.5%;
    color: #FFF;
    font-weight: 600;
    text-align: center;
}
img{
    vertical-align: middle;
}
.reg a{
        margin: 10px;
    padding: 10px;
}
.reg img{
    vertical-align: middle;
}
a{
    text-decoration: none;
    color: inherit;
}

/* +++++++++++++++++++++++++++++++++++++++++++++ Header Css Ends Here +++++++++++++++++++++++++++++++++++++++++++++++*/
/* +++++++++++++++++++++++++++++++++++++++++++++ Banner Css Starts Here +++++++++++++++++++++++++++++++++++++++++++++++*/
.banner{
   height: 320px;
   position: relative;
}
.welcome_qoutes {
    width: 100%;
    position: absolute;
    top: -5%;
}

#mainimg{
    min-height: 320px;
}

.moment {
    padding-top: 5%;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 3.5em;
    letter-spacing: 0.05em;
    font-weight: 600;
}
.love {
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 2.5em;
    font-weight: normal;
    font-family: Raleway;
    letter-spacing: 0.01em;
}
.shop1{
    text-align: center;
    margin: 2% auto;
}
.shop {
    text-align: center;
    width: 9%;
    margin: 1% auto;
    padding: 0.8%;
    color: #FFF;
    border-radius: 2.5px;
    background: #ddbe86;
    font-size: 1.5em;
    font-family: Raleway;
}

/*++++++++++++++++++++++++++++++++++++++++ banner style ends here +++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* +++++++++++++++++++++++++++++++++++++ Navigation Css Starts Here +++++++++++++++++++++++++++++++++++++++++++++++++++*/
ul{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-ul li {
    display: inline-block;
    width: 9%;
    text-align: center;
    margin-left: 1.4%;
    color: #6e6e6e;
    font-family: Raleway;
    letter-spacing: 0.05em;
}
.nav-ul {
    box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 0px 0px rgba(0,0,0,0.22);
    padding: 1%;
}
.nav-ul p {
    margin: 1%;
    margin-top: 5%;
    font-size: 0.8em;
    font-weight: 900;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++ Product Div Css +++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.product{
    text-align: center;
    margin: 2% auto;
    font-size: 1.8em;
    font-family: RalewayS;
}
.category {
    width: 90%;
    margin: 1% auto;
    position: relative;
    text-align: center;
}
.category h4{
    padding: 0;
    font-weight: normal;
    font-size: 1.5em;
    font-family: Raleway;
    text-align: left;
}
.pro {
    border: 1px solid #ddbe86;
    width: 18.5%;
    margin: 0.5%;
    display: inline-block;
    color: #727272;
}

.im{
    width: 100%;
    border-bottom: 1px solid #ddbe86;
}
.all {
    background: #ddbe86;
    padding: 1%;
    width: 86%;
    margin: 2% auto;
    text-align: center;
    font-family: Raleway;
    font-size: 1.2em;
    border-radius: 2.5px;
}

.price-pro {
    padding: 4% 2%;
    text-align: center;
    font-weight: 600;
    font-size: 0.9em;
}
.cut{
    color: grey;
    padding: 1%;
    margin: 1%;
}
.rate{
    color: black;
    padding: 1%;
    margin: 1%;
}
.offer{
    color: red;
    padding: 1%;
    margin: 1%;
}

.jq-ry-container {
    margin: auto !important;
}
.work {
    background: #f9f5ec;
    padding: 0.5%;
    text-align: center;
    margin: 1% auto;
}
.three {
    display: inline-block;
    text-align: center;
    margin: auto;
    width: 31%;
    margin-bottom: 5%;
    margin-left: 1%;
}
.three p{
    color: #727272;
}
.costumer{
    background: url(/images/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 4%;
    padding-bottom: 4%;
    text-align: center;
}
.profile {
    text-align: center;
    width: 100px;
    margin: 1% auto;
    border: 5px solid #FFF;
    border-radius: 50%;
}
.feature{
    text-align: center;
}
.say {
    color: #FFF;
    width: 60%;
    margin: auto;
}
.three{
            vertical-align: top;
    }

.say p {
    width: 80%;
    padding: 0.5%;
    margin: auto;
  
}
.sl{
    width: 5%;
    font-size: 70px;
    font-family: PT Sans Arial;
}
.sr{
    font-size: 70px;
    font-family: PT Sans Arial;
    text-align: right;
}
.imgl{
    float: left;
    margin-left: 10%;
    vertical-align: middle;
}
.imgr{
    float: right;
    margin-right: 10%;
    vertical-align: middle;
}
.imgl-pro{
    float: left;
    margin-left: 1.5%;
    vertical-align: middle;
}
.imgr-pro{
    float: right;
    margin-right: 1.5%;
    vertical-align: middle;
}








/*====================================== Footer Css Starts Here==========================================================*/

.footer{
    background: #37414a;
    padding: 1%;
}
.subscribe {
    width: 65%;
    margin: 1% auto;
    text-align: center;
    border: 2px solid #ddbe86;
    padding: 2%;
    border-radius: 5px;
    font-family: Raleway;
}
.footer p{
    color: #FFF;
    font-size: 0.8em;
    FONT-WEIGHT: 600;
    
}
.subscribe p{
    font-size: 1em;
    margin-top: 1%;
}
.subscribe input{
    padding: 0.5%;
    font-size: 1em;  
    border:2px solid #ddbe86;
    border-radius: 5px;
    width: 34%;
    margin-right: 15px;
}
.subscribe button{
    padding: 0.5%;
    font-size: 1em;
    width: 15%;
    background:#ddbe86;
    color: #FFF;
    border:2px solid #ddbe86;
    border-radius: 5px;
}
.foot{
    width: 70%;
    margin: 2% auto;
}

.foot button {
    padding: 2%;
    margin-top: 2%;
    font-size: 0.8em;
    width: 40%;
    background: #ddbe86;
    color: #FFF;
    border: 2px solid #ddbe86;
    border-radius: 5px;
}

.threef {
    display: inline-block;
    text-align: left;
    margin: auto;
    width: 33%;
    font-family: Raleway;
    color: #FFF;
    vertical-align: top;
}
.div2 {
    font-size: 0.8em;
    display: inline-block;
    width: 45%;
    margin: 1%;
    font-family: Raleway;
    vertical-align: top;
}
.threef h3,.threer h3 {
    margin: 1%;
    font-size: 0.9em;
}
.threer {
    display: inline-block;
    text-align: left;
    margin: auto;
    margin-left: 8%;
    width: 23%;
    font-family: Raleway;
    color: #FFF;
    vertical-align: top;
}
.threer h3{
    margin: 1%;
}
.copyright {
    width: 70%;
    margin: 1% auto;
    text-align: center;
    border-bottom: 1px solid #FFF;
    padding-bottom: 1%;
    color: #FFF;
    padding-top: 1%;
    FONT-WEIGHT: 600;
    font-size: 0.8em;
}
.last{
    width: 70%;
    margin: 2% auto;
}

.div3 p{
    display: inline-block;
}

.div3 {
    width: 25%;
    border: 1px solid #FFF;
    border-radius: 5px;
    margin-left: 30%;
    font-size: 1em;
    font-family: Raleway;
    display: inline-block;
    text-align: center;
}

.div4 {
    width: 12%;
    border: 1px solid #FFF;
    border-radius: 5px;
    margin-left: 2%;
    font-size: 1.2em;
    display: inline-block;
    text-align: center;
}
.div4 p{
    margin: 1%;
}
.div3 p {
    display: inline-block;
    margin: 1%;
}

.d1{
    width: 30%;
    border-right: 1px solid;
}

.d2{
    width: 44%;
    border-right: 1px solid;
}

.d3{
    border: none;
}
footer{
    text-align: center;
    font-family: Raleway;
    font-size: 0.8em;
}

.rating {
    display: inline-block;
    width: 88%;
    border-bottom: 1px solid #ddbe86;
    text-align: center;
    padding: 4%;
    padding-left: 8%;

}

.foot4 p{
    display: inline-block;
    margin: 1%;
}
#collapse{
    width: 100%;
    display: none;
    position: absolute;
    background: floralwhite;
    z-index: 101;
}
#log-box{
    width: 100%;
    display: none;
    position: absolute;
    background: #FFF;
    z-index: 100;
    text-align: center;
}
#locate{
    width: 100%;
    display: none;
    position: absolute;
    background: #FFF;
    z-index: 100;
}
#locate .search
{
    border: 1px solid #ddbe86 ;
    width: 69%;
    margin: auto;
    margin: 2%;
}
#locate .search img{
        padding-left: 2%;
}
#locate button{
    width: 20%;
    margin: auto;
    margin: 2%;
}

/*+++++++++++++++++++++++++++++++++ image slider css ++++++++++++++++++++++++++++++++++++++*/

.banner .gallery_1{
    height: 320px;
    width: 100%;
}
.banner .nbs-flexisel-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}
.gallery_1{
	width: 98%;
	margin: 0 auto;
	display: block;
	overflow: hidden;
	text-align: center;
	margin-bottom: 5%;
}
 


#flexisel1,#flexisel2,#flexisel3,#flexisel4,#flexisel5,#flexisel-sim,#flexisel-banner{
	display:none;
}

.nbs-flexisel-container {
    position: relative;
    max-width: 90%;
    margin: auto;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
	overflow:hidden;
	width: 100%;
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
}

.nbs-flexisel-item img {
    width: 100%;
    cursor: pointer;
    position: relative;
}


#gallery-img{
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    height:250px;
    background-position: -167px 0px;
    background-size: 550px;
    background-repeat: no-repeat;
}

.showimage a {
    color: #FFFFFF;
}

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 54px;
    height: 45px;
    margin-left: -60px;
    margin-right: -60px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
}

.rest_images .nbs-flexisel-nav-left {
    left: 10px;
    background: url(../images/left_arrow.png) no-repeat;
}
.rest_images .nbs-flexisel-nav-right {
    left: 10px;
    background: url(../images/right-arrow.png) no-repeat;
}
.nbs-flexisel-nav-left {
    left: 10px;
    background: url(../images/arrow.png) no-repeat;
}

.nbs-flexisel-nav-right {
    right:-4px;
    background: url(../images/arrow-2.png) no-repeat;
}
/* --------------------------- Footer Css ------------------------------------- */

.merchant-footer {
	font-family: 'Raleway-Regular';
	background-color: #37414a;
	color: #fff;
}

.merchant-footer .main-footer {
	margin-top: 3%;
}

.merchant-footer .main-footer #opn-shop-p{
	margin-top: 7px;
}

.merchant-footer .main-footer h4 {
	
	font-family: 'Raleway-Bold';
	font-size: .9em;
}

.merchant-footer .main-footer button {
	color: #fff;
	background-color: #DDBE87;
	border: none;
}

.merchant-footer .main-footer a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 1%;
    font-size: .8em
}

.merchant-footer .main-footer ul li img {
	margin-right: 5%;
}

.merchant-footer .main-footer .copyright-footer {
	margin-top: 5%;
	font-size: .9em;
}

.merchant-footer .main-footer .copyright-footer .hr-line {
	width: 100%;
	border-top: 1px solid #fff;
	margin: 1% auto;
}

.merchant-footer .main-footer .copyright-footer .box-block {
	margin: 2% auto;
}

.merchant-footer .main-footer .copyright-footer .box-li li{
	border: 1px solid #fff;
	margin: -2px;
	width: 100px;
	padding: 7px;
	

}

.merchant-footer .main-footer .copyright-footer .box-li li:first-child {
	border: 1px solid #fff;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: 0;

}

.merchant-footer .main-footer .copyright-footer .box-li li:last-child {
	border: 1px solid #fff;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left: 0;

}

.merchant-footer .main-footer .copyright-footer .help-box {
	border: 1px solid;
    padding: 7px 50px;
    margin-left: 5%;
    border-radius: 5px;
    font-family: 'Raleway-Bold';
}

/* --------------------------- Footer Css End ------------------------------------- */


/*+++++++++++++++++++++++++++++++++++++++++++++++++ Media Queries ++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media only screen and (min-width: 1800px){
    .banner{
    height: 400px;
}
.banner .gallery_1 {
    height: 400px;
    width: 100%;
}
}
/*@media only screen and (max-width: 1713px){
    .location {
    width: 60%;
    text-align: center;
    top: 1%;
    margin: 1%;
    margin-left: 3%;
}
.reg {
    width: 24%;

    font-size: 0.8em;
}
.logo {
    width: 5%;
    padding: 0.5%;
    margin-left: 3%;
}
.banner{
    height: 350px;
}
.banner .gallery_1 {
    height: 350px;
    width: 100%;
}*/


@media only screen and (max-width: 1600px){
.location {
    width: 60%;
}
.search {
    width: 445px;
}
.reg {
    width: 24%;
}
.cityS {
    width: 150px;
}
}
@media only screen and (max-width: 1400px){
.logo {
    display: inline-block;
    width: 6%;
    padding: 0.5%;
        margin: 0 1%;
}
.location {
    width: 65%;
    margin: 0.5%;
}
.city {
    width: 195px;
}
.search {
    width: 400px;
}
.cityS{
    width: 140px
}
.reg {
    width: 23%;
}
.reg a {
    margin: 10px;
    padding: 0px;
}
}
@media only screen and (max-width: 1200px){
.city {
    width: 180px;
}
.search {
    width: 350px;
}
.search input {
    width: 88%;
}
.custom-select a {
    padding: 8px 0 8px 20px !important;
}
.plane {
    padding: 12px 5px;
}
.down {
    padding: 12px 5px;
}
.logo {
    margin: 0 0.5%;
}
.reg {
    width: 22%;
    font-size: 15px;
}
.location {
    width: 67%;
}
}
/*@media only screen and (max-width: 1515px){

    .location {
    width: 63%;
    text-align: center;
    top: 1%;
    margin: 1%;
    margin-left: 3%;
}
.reg {
    width: 22%;

    font-size: 0.8em;
}
.banner{
    height: 320px;
}
.banner .gallery_1 {
    height: 320px;
    width: 100%;
}
.logo {
    width: 5%;
    padding: 0.5%;
    margin-left: 3%;
}
.search {
    width: 450px;
}
.cityS{
        width: 125px;
}

.nav-ul li {
    width: 9%;
}
.rating1 {
    display: inline-block;
    width: 38%;
}
.subscribe {
    width: 65%;
}
.pro {
    width: 23%;
}

}

@media only screen and (max-width: 1400px){

.location {
    width: 60%;
    text-align: center;
    top: 1%;
    margin: 1%;
    margin-left: 3%;
}
.reg {
    width: 25%;

    font-size: 0.8em;
}
.logo {
    width: 5%;
    padding: 0.5%;
    margin-left: 3%;
}
.search {
    width: 55%;
    padding: 0;
}
.plane {
    padding: 10px;
}
.city select {
    padding: 5px 30px;
        padding-right: 0;
}

.cityS {
    width: 15%;
    padding: 1%;
}
.search input {
    width: 85%;
}

.city {
    width: 20%;
}
.logo img{
        width: 60px;
}
.nav-ul li {
    width: 9.5%;
    margin-left: 1%;
}

.pro {
    width: 23%;
}
.banner {
    background-position: 48%;
}
.banner {
    height: 320px;
}
.welcome_qoutes {
    top: 1%;
}
.reg img {
    width: 30px;
}
.product {
    font-size: 1.5em;
}
.all {
    font-size: 1.2em;
    border-radius: 5px;
}
.subscribe input {
    padding: 1%;
    font-size: 0.8em;
    width: 40%;
}
.subscribe button {
    padding: 0.8%;
}
.costumer {
    padding-top: 2%;
    padding-bottom: 0;
}
.nav-ul {
    box-shadow: 0 5px 30px rgba(0,0,0,0.25), 0 0px 0px rgba(0,0,0,0.22);
    padding: 1%;
}
}
*/
@media only screen and (max-width: 1100px){
    
.city {
    width: 179px;
}
.i{
    width: 60px;
}
.search {
    width: 320px;
    margin: 0;
}
.location{
    width: 66%;
}
.cityS {
    width: 120px;
}
.reg {
    width: 23%;
    font-size: 14px;
}
.subscribe input {
    width: 50%;
}
.subscribe button {
    width: 20%;
}
    
    
}


@media only screen and (max-width: 1000px){
    body {
        font-size: 14px;
    }
    .location{
        margin: 0;
    }
    header{
        display: block;

    }
    .logo{
        width: 10%;
        padding:1%;
    }
 
    .plane {
    padding: 14px 5px;
    }
    .logo .i{
        width: 70px;
    }
    .moment{
        font-size: 3em;
    }
    .banner{
            height: 250px;
    }
    .shop1 {
    margin: 5% auto;
}
    .reg {
    position: absolute;
    top: 1%;
    font-size: 1.1em;
    width: 320px;
    right: 0.5%;
    margin-top: 1em;
}
   .city {
    width: 170px;
    }
    .custom-select a {
    padding: 8px 0 8px 30px !important;
}
.city select {
    padding: 10px 25px;
    width: 100%;
    font-size: 18px;
}
.city {
    width: 195px;
    margin: 0px;
}

.location {
    width: 98%;
    margin: 1%;
    font-size: 1.5em;
  
}
.search {
    width: 50%;
    font-size: 18px;
    padding: 6px;
    margin: 0px;
}
.search input {
    width: 90%;
}
.nav-ul p {
    font-size: 0.9em;
}
.cityS {
    width: 15%;
    margin: 0px;
    font-size: 15px;
    padding: 10px;
}
.city select {
    padding: 7px 25px;
}

.price-pro{
    font-size: 1em;
}
    .category h4{
        margin: 2%;
    }
    .pro {
    width: 31%;
}
   .all {
    padding: 2%;
    margin: 5% auto;
    font-size: 1.2em;
}
    
    .nav-ul li {
    width: 9%;
    }
.profile {
    width: 100px;
}
.sl{
    font-size: 20px;
}
.sr{
    font-size: 20px;
}
.say h2,h4{
    margin: 1%;
}
.say p {
    width: 90%;
}
.three img{
    width: 60px;
}
.reg img {
    width: 25px;
}
    .subscribe{
    width: 80%;
    }
    .subscribe p {
    font-size: 1.5em;
    padding: 1%;
}
    .subscribe input{
    width: 60%;
    padding: 1%;
    }
    .subscribe button{
        padding: 1%;
        width: 20%;
    }
    .foot{
        width: 90%;
    }
    .threer {
    text-align: left;
    margin: auto;
    margin-left: 2%; 
    vertical-align: top;
    }
    .div2{
        width: 46%;
    }
    .three{
        width: 47%;
        margin: 1%;
    }
  
    .foot button {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 120px;
}
    .div2 img{
        width: 12%;
    }
    .last {
    width: 90%;
    text-align: center;
}
.div3 {
    width: 250px;
    border: 1px solid #FFF;
    border-radius: 5px;
    margin-left: 0;
}
    .foot4 p{
        font-size: 1em;
    }
    .copyright {
    width: 90%;
    font-size: 1em;
}
    .threef,.threer{
        display: block;
        text-align: left;
        margin: 1%;
    }
    .threef, .threer {
    width: 30%;
    font-size: 1.2em;
    display: inline-block;
    
}
.div2 p {
    color: #FFF;
    font-size: 1em;
}
   
}
@media only screen and (max-width: 1000px){

    .nbs-flexisel-container {
    max-width: 80%;
    }
    .price-pro {
    font-size: 1.2em;
    }
    .banner .gallery_1 {
    height: 245px;
    }
    .plane {
    padding: 8px 5px;
}
.custom-select a {
    padding: 2px 0 2px 27px !important;
}
.down {
    padding: 10px 5px;
}
}


@media only screen and (max-width: 700px){

    header{
        display: block;
        text-align: center;
    }
    .logo{
        display: block;
        padding:1%;
    }
    .logo .i{
        width: 60px;
    }
    .category {
    width: 94%;
    }
    .nav-ul{
        display: none;
    }
    .moment {
    font-size: 3em;
    padding-top: 10%;
    width: 100%;
}
    .banner {
    height: 270px;
}
    .shop1 {
    margin: 5% auto;
}
    .reg {
    position: absolute;
    top: 1%;
    font-size: 1.1em;
    width: 300px;
    right: 0.5%;

}
    .city {
    width: 150px;
    padding: 0;
    margin: 2%;
    display: inline-block;
}
.imgl-pro, .imgr-pro{
    display: none;
}
.price-pro {
    font-size: 1.2em;
}
.city select {
    padding: 6px 25px;
    width: 100%;
    font-size: 12px;
}

#log-box input{
    width: 80%;
    margin: 1% auto;
    padding: 2%;
    border-radius: 5px;
    border: 1px solid #ddbe86;
    color: #ddbe86;
}
.plane {
    position: absolute;
    padding: 7px;
}
    .location{
        width: 100%;
        font-size: 1.5em;
    }
.search {
    width: 60%;
    padding: 0;
}
    .search input {
    width: 80%;
}
.cityS {
    width: 150px;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
}
    .category h4{
        margin: 2%;
    }
    .pro{
        width: 47%;
    }
   .all {
    padding: 2%;
    margin: 5% auto;
    font-size: 1.5em;
}
    
    .nav-ul li {
    width: 9%;
    }
 .profile {
    width: 100px;
}
.sl{
    font-size: 20px;
}
.sr{
    font-size: 20px;
}
.say h2,h4{
    margin: 1%;
}
.say p {
    width: 90%;
}
.three img{
    width: 60px;
}
.reg img {
    width: 25px;
}
    .subscribe{
    width: 85%;
    }
    .subscribe p{
    font-size: 1.4em;
    padding: 1%;
    }
    .subscribe input{
    width: 60%;
    padding: 1%;
    }
    .subscribe button{
        padding: 1%;
        width: 20%;
    }
.foot {
    width: 85% !important;
}
    .threer {
    text-align: left;
    margin: auto;
    margin-left: 2%; 
    vertical-align: top;
    }
    .div2{
        width: 47%;
    }
    .three{
        width: 47%;
        margin: 1%;
    }
  
    .foot button{
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 40%;
    }
    .div2 img {
    width: 15px;
}
        .last {
    width: 90%;
    text-align: center;
}
.div3 {
    width: 250px;
    border: 1px solid #FFF;
    border-radius: 5px;
    margin-left: 0;
}
    .foot4 p{
        font-size: 1.5em;
    }
    .copyright {
    width: 90%;
    font-size: 1.2em;
}
    .threef,.threer{
        display: block;
        text-align: left;
        margin: 1%;
    }
    
    .threef,.threer{
    width: 70%;
    font-size: 1.2em;
        vertical-align: top;
    }
   
}


@media only screen and (max-width: 500px){

    header{
        display: block;
        text-align: center;
    }
    .logo{
        padding:1%;
    }
    .logo .i{
        width: 50px;
    }
    .moment{
        font-size: 2.5em;
    }
    .love{
        font-size: 2em;
    }
    .banner{
            height: 210px;
    }
    .shop1 {
    margin: 5% auto;
}
    .reg {
    position: absolute;
    top: 1%;
    font-size: 1.1em;
    width: 270px;
    right: 0.5%;

    }
    .category {
    width: 94%;
    }
    .city {
    width: 150px;
    padding: 0;
    margin: 2%;
    display: inline-block;
}
.city select {
    padding: 6px 25px;
    width: 100%;
    font-size: 12px;
}

.plane {
    position: absolute;
    padding: 7px;
}
    .location{
        width: 100%;
        font-size: 1.5em;
    }
  .search {
    width: 90%;
    padding: 0;
}
    .search input {
    width: 80%;
}
.cityS {
    width: 150px;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
}
    .category h4{
        margin: 2%;
    }
    .pro-row {
    width: 90%;
    margin: 1% auto;
    }
        .pro {
    width: 95%;
    margin: 2% auto;
}
   .all {
    padding: 2%;
    margin: 5% auto;
    font-size: 1.5em;
}
    
    .nav-ul li {
    width: 9%;
    }
.profile {
    width: 100px;
}
.sl{
    font-size: 20px;
}
.sr{
    font-size: 20px;
}
.say h2,h4{
    margin: 1%;
}
.say p {
    width: 90%;
}
.three img{
    width: 60px;
}
.reg img {
    width: 25px;
}
 .subscribe {
    width: 95%;
    padding-bottom: 5%;
    margin-bottom: 5%;
}
    .subscribe p{
    font-size: 1.4em;
    padding: 1%;
    }
    .subscribe input{
    width: 60%;
    padding: 1%;
    }
    .subscribe button{
        padding: 1%;
        width: 20%;
    }
    .foot{
        width: 90%;
    }
    .threer {
    text-align: left;
    margin: auto;
    margin-left: 2%; 
    vertical-align: top;
    }
.price-pro {
    font-size: 1em;
}
    .div2{
        width: 47%;
    }
    .three{
        width: 47%;
        margin: 1%;
    }
  
    .foot button{
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 40%;
    }
    .div2 img{
        width: 12%;
    }
        .last {
    width: 90%;
    text-align: center;
}
.div3 {
        width: 150px;
    border: 1px solid #FFF;
    border-radius: 5px;
    margin-left: 0;
}
    .foot4 p{
        font-size: 1.5em;
    }
    .copyright {
    width: 90%;
    font-size: 1.2em;
}
    .threef,.threer{
        display: block;
        text-align: left;
        margin: 1%;
    }
    .threef,.threer{
    width: 95%;
    font-size: 1.2em;
    }

.banner .gallery_1 {
    height: 200px;
}
   
}
@media only screen and (max-width: 400px){

    
}
@media only screen and (max-width: 700px){

    .location{
        display: none;
    }
    .reg{
        display: none;
    }
}

