header{
    display: block;
}
.logo img{
    vertical-align: middle;
    width: 80px;
}
.m-reg {
    float: right;
    width: 35%;
    color: #FFF;
    font-family: Raleway;
}
.m-reg p{
    margin-bottom: 1%;
    margin-top: 1%;
}
.m-reg input{
    width: 35%;
    padding: 1.5%;
    border: 1px solid #ddbe86;
    border-radius: 5px;
    color: #ddbe86;
}
.m-reg button {
    padding: 0.9%;
    vertical-align: bottom;
    width: 15%;
    color: #FFF;
    background-color: #B09463;
    border: 1px solid #B09463;
    border-radius: 5px;
    font-size: 1em;
}
.forget {
    width: 93%;
    color: #111;
    text-align: right;
    margin-top: 1%;
    font-size: 0.8em;
    color: #FFF;
}
.last-li{
    width: 15% !important;
}
.nav-ul li{
    margin-left: 0;
}
.m_banner{
    background: url(../m_images/banner-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.m_banner .moment,.love{
    width: 100%;
}
.moment {
    padding-top: 5%;
    width: 91%;
    text-align: center;
    color: #FFF;
    font-size: 3.6em;
    letter-spacing: 0.05em;
    font-weight: bolder;
}
.head_banner{
    width: 75%;
    margin-left: 25%;
}
.banner-image{
    width: 53%;
    display: inline-block;
    background: url(../m_images/banner-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.banner-qotes {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    
}
.banner-qotes-p{
    font-size: 1.5em;
}
.banner-last{
    background: #f9f5ec;
    padding: 1%;
}
.and{
    font-size: 4em;
}
.round {
    border: 2px solid #ddbe86;
    border-radius: 50%;
    width: 80px;
    margin: 2%;
    height: 60px;
    padding: 5px;
    vertical-align: middle;
    padding-top: 30px;
    display: inline-block;
}
.round1 {
    border: 2px solid #ddbe86;
    border-radius: 50%;
    margin: 2%;
    width: 90px;
    height: 60px;
    padding: 5px;
    vertical-align: middle;
    padding-top: 30px;
    display: inline-block;
}
.banner-last button {
    display: block;
    padding: 1.5%;
    vertical-align: bottom;
    width: 30%;
    color: #FFF;
    background-color: #ddbe86;
    border: 1px solid #ddbe86;
    border-radius: 5px;
    font-size: 1.2em;
    margin:2% auto;
}
.copyright_fs {
    width: 70%;
    margin: 1% auto;
    text-align: center;
    border-top: 1px solid #FFF;
    padding-bottom: 1%;
    color: #FFF;
    padding-top: 1%;
    FONT-WEIGHT: 600;
    font-size: 0.8em;
}
.copyright_fs p{
    display: inline-block;
    margin-left: 20%;
}
.copyright_fs p + p {
    float: right;
    margin-left: 2%;
}
.div2-long{
    width: 60%;
}

/*+++++++++++++++++++++++++++++++++++++++++++++ Media Queries++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media only screen and (max-width: 1600px){
.moment {
    font-size: 3em;
}
.love {
    font-size: 2em;
}
.foot button{
    width: 40%;
}
.head_banner {
    margin-left: 20%;
    padding-top: 5%;
}
.last{
    text-align: center;
}
.div3 {
    width: 40%;
    border: 1px solid #FFF;
    border-radius: 5px;
    margin: auto;
}
}
@media only screen and (max-width: 1350px){
    .foot{
        width: 90%;
    }
    .head_banner {
    width: 60%;
    margin-left: 40%;
    }
    .last-li {
    width: 20% !important;
}
.foot {
    width: 70%;
}
    
}
@media only screen and (max-width: 1200px){
    .moment {
    font-size: 2em;
}
.love {
    font-size: 1.5em;
}
    .m-reg {
    float: right;
    width: 60%;
    }
    .last-li {
    width: 20% !important;
}
.banner-image {
    width: 53%;
}
.m_banner {
    height: 300px;
}
.foot button{
    width: 60%;
}
.threer {
    display: inline-block;
    text-align: left;
    margin: auto;
    margin-left: 1%;
    width: 32%;
}
    
}
@media only screen and (max-width: 1000px){
    .three{
        width: 47%;
    }
    .m-nav li {
    width: 12%;
}
.banner-image {
    display: block;
    width: 100%;
}
.last-li {
    width: 20% !important;
}
.banner-qotes {
    width: 100%;
}
.m-nav li {
    width: 14%;
}
.foot {
    width: 95%;
}
.m_banner {
    height: 250px;
}
.last {
    width: 90%;
    text-align: center;
}
.div3 {
    width: 50%;
    margin-left: 0;
}

}
@media only screen and (max-width: 900px){
    .m-reg {
    position: absolute;
    right: 4%;
    top: 0;
    z-index: 10;
        width: 70%;
}
.head_banner {
    width: 100%;
}
.head_banner {
    margin-left: 0;
    padding-top: 5%;
}
.banner-image{
    height: 200px;
}
.m_banner {
    background-position: 20%;
}
.m-reg p {
    text-align: left;
    margin-left: 4%;
}
.forget {
    width: 22%;
    margin-top: 1%;
    float: right;
}

}

@media only screen and (max-width: 700px){
    .nav-ul{
        display: block;
    }
    .threer {
    width: 60%;
}
.foot button {
    width: 50%;
}
.m-nav li {
    width: 18%;
    vertical-align: top;
}
.m-reg {
    width: 85%;
}
}