body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
/*************** Font Style *******************/

@font-face {
    font-family: rr;
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: rb;
    src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
    font-family: rs;
    src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: rl;
    src: url(../fonts/Raleway-Light.ttf);
}
.clearboth {
    clear: both;
}
.clearight {
    clear: right;
}
.clearleft {
    clear: left;
}




.fs_or_header
{
    background-color: #DDBE87;
    height: 100px;
    display: inline-flex;
    width: 100%;
}
.logo_or {
    text-align: center;
    width: 13%;
    clear: both;
    height: 100px;
    background-color: #CBAC73;
}

.fs_or_logo
{
    margin: 10px;
}
.fs_or_nav {
    width: 48%;
    text-align: center;
}

.fs_or_a
{
    height: 100px;
    width: 19.5%;
    display: inline-block; 
      
    color: #fff;
    font-family: rs;
    font-size: 14px;
}
.fs_or_s1
{
    display: block;
}
.fs_or_a img
{
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    margin-bottom: 5px;
}

.search_fs_2 input
{
    
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/search.png');
    background-position: 260px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  
}
.search_fs_1
{
    display: inline-flex;
}
.search_fs_1 span
{
    color: #fff;
    font-size: 14px;
    font-family: rs;
    margin-left: 9px;
    margin-top: 2px;
}
.search_fs {
    margin-top: 10px;
    width: 24%;
}

.extra_fs {
    width: 14%;
    text-align: center;
}


.extra_fs img
{
     margin-top: 35px;
}
.extra_fs_1
{
    width:16px;
    height:16px;
    margin-right:10px;
}

.container_dash
{
    padding:10px;
}
.dash_inner
{
    text-align: center;
}
.dash_ul
{
    display: inline-flex;
    width: 1120px;
    text-align: center;
    background-color: #f7f5f6;
    box-shadow:0 0 3px rgba(0,0,0,0.5);
    
}
.dash_li
{
    width: 14%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
   
}
.dash_li span
{
    display: block;
}

.dash_li3
{
    width: 10%;
     border-right: 1px solid #DDBE87;
       height: 40px;
       padding-top: 20px;
       padding-bottom: 20px;
}

.dash_li3 span
{
  
}

.dash_li3_1
{
    width: 12.5%;
         border-right: 1px solid #DDBE87;
       height: 40px;
       padding-top: 20px;
       padding-bottom: 20px;
       font-family: rb;
    font-size: 15px;
}
.dash_li3 span
{
  
}
.dash_li_sp_2
{
    margin-top:26px;
    font-family: rl;
    color: #256ECA;
        font-size: 20px;

}
.dash_li_sp_1
{
    font-family: rs;
    font-size: 13px;
    margin-top:4px;
}



.dash_ul
{
    display: inline-flex;
    width: 1120px;
    text-align: center;
    background-color: #f7f5f6;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    
}
.dash_li
{
    width: 14%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
   
}
/*.dash_li span
{
    display: block;
}*/

.dash_li1
{
    width:34%;

    margin-right: auto;
    margin-left: auto;
    text-align: center;
   border-right: 1px solid #DDBE87;
 
   height:40px;
}
.dash_li1 div 
{
    margin-top:5px;
}

.dashboard1{
	
     width: 12.5%;
    border-right: 1px solid #DDBE87;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    

}

.tabcontent1{
	width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    box-shadow:0 0 3px rgba(0,0,0,0.5);
}


.dashboard2{
	width: 12%;
    border-right: 1px solid #DDBE87;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
}

.dashboard_img{

	padding: 0;
    height: 80px;
}

.tabcontent2{
	width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    margin-top: 15px;
}




											/*media Queries begin*/






@media only screen and (max-width: 1230px) {
	.fs_or_nav {
    width: 60%;
    text-align: center;
	}

}

@media only screen and (max-width: 1129px) {
	.fs_or_header {
    background-color: #DDBE87;
    height: 100px;
    display: inline-flex;
    width: 101%;
	}

	.dash_ul {
    display: inline-flex;
    width: 95%;
    text-align: center;
    background-color: #f7f5f6;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    
    margin-left: 3px;
	}

	.tabcontent1 {
    width: 95%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
	}

	.tabcontent2 {
    width: 95%px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
	}
}


@media only screen and (max-width: 1100px) {
	.fs_or_header {
	    background-color: #DDBE87;
	    height: 100px;
	    display: inline-flex;
	    width: 102%;
	    margin-left: 3px;
	}
}

@media only screen and (max-width: 1100px) {
	.fs_or_header{
		width: 104%;
	}
}


@media only screen and (max-width: 1080px) {
	.fs_or_a {
	    height: 100px;
	    width: 85px;
	    display: inline-block;
	    color: #fff;
	    font-family: rs;
	    font-size: 14px;
	}
}


@media only screen and (max-width: 1080px) {
	.fs_or_header{
		width: 115%;
	}
}

@media only screen and (max-width: 970px) {
	.fs_or_header{
		width: 124%
	}
}

@media only screen and (max-width: 900px) {
	.fs_or_header{
	width: 129%;
	}
}


@media only screen and (max-width: 850px) {
	.fs_or_header{
	width: 141%;
	}
}

@media only screen and (max-width: 820px) {
	.dash_ul{
	width: 1100px;
	}
	.tabcontent1{
	width: 1100px;	
	}
	.tabcontent2{
	width: 1100px;	
	}
}

@media only screen and (max-width: 790px) {
	.fs_or_header{
	width: 146%;
	}
}


												/*media Queries ends*/