body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
/*************** Font Style *******************/

.clearboth {
    clear: both;
}
.clearight {
    clear: right;
}
.clearleft {
    clear: left;
}
/********************Header*************************/
/*++++++++++++++++++++++++++++++++++++++++++++Merchant Register Css +++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.fs_header {
    background-color: #DDBE87;
    height: 80px;
    padding: 10px;
}
.fs_logo {
    margin-left: 5%;
}
.fs_container {
    padding: 80px;
    box-shadow: 0px 0px 5px gray;
}
.fs_section {
    font-family: RalewayB;
    margin-left: 4%;
}

.fs_section p{
    padding-top: 2%;
}
.fs_form_r1 {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
.fs_input {
    border: 2px solid #CBAC73;
    padding: 4%;
    border-radius: 4px;
    width: 90%;
}
.fs_submit {
    display: block;
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #CBAC73;
    border: 2px solid #CBAC73;
    border-radius: 4px;
    color: #fff;
    font-family: RalewayB;
    font-size: 18px;
    cursor: pointer;
}
.fs_p {
    font-family: Raleway;
    font-size: 16px;
    color: #575757;
}
.fs_redirect {
    text-decoration: none;
}
.fs_redirect:hover {
    text-decoration: none;
}
.fs_redirect:active {
    text-decoration: none;
}
.fs_redirect:focus {
    text-decoration: none;
}
.fs_le_col {
    width: 40%;
    float: left;
    clear: left;
    margin-left: 5%;
}
.fs_ri_col {
    width: 40%;
    float: right;
    clear: right;
    margin-left: 5%;
}
.fs_form_r2 {
    width: 90%;
    margin: auto;
    margin-left: 10%;
}
.fs_up_col{
        width: 84.5%;
    margin-left: 5%;
}

.fs_upload {
    background-color: #cbac73;
    display: block;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    font-family: RalewayB;
    border-radius: 4px;
    width: 64%;
    border: 1px solid #cbac73;
}
.fs_image_up {
    position: relative;
    top: 4px;
    margin-right: 5px;
}
.file-upload {
    position: relative;
    overflow: hidden;
    margin: 20px 10px 20px 0px;
}
.file-upload input.file-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.fs_submit_1 {
    display: block;
    margin-top: 2%;
    width: 25%;
    padding: 0.5%;
    background-color: #CBAC73;
    border: 2px solid #CBAC73;
    border-radius: 4px;
    color: #fff;
    font-family: RalewayB;
    font-size: 1em;
    cursor: pointer;
}
.fs_submit_mobile{
        width: 64.5%;
    padding: 1.5%;
    margin-top: 6%;
}
.fs_submit_mobile span{
        vertical-align: middle;
    margin-left: 2%;
}
.fs_p1 {
    font-size: 0.8em;
    color: #575757;
    margin-left: 5%;
}
.fs_p1 a {
    color: #0B0080;
    text-decoration: none;
}
.fs_p1 a:hover {
    color: #0B0080;
    text-decoration: none;
}
.fs_p1 a:active {
    color: #0B0080;
    text-decoration: none;
}
.fs_p1 a:focus {
    color: #0B0080;
    text-decoration: none;
}
.fs_form_r3 {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.fs_section_1 {
    font-family: RalewayS;
    margin-left: 5%;
    font-weight: normal;
    font-size: 13px;
    color: #575757;
}
.otp_a {
    float: right;
    margin-top: 20px;
    text-decoration: underline;
    color: #575757;
}

.copyright_fs {
    width: 70%;
    margin: 1% auto;
    text-align: center;
    border-top: 1px solid #FFF;
    padding-bottom: 1%;
    color: #FFF;
    padding-top: 1%;
    FONT-WEIGHT: 600;
    font-size: 0.8em;
}
.copyright_fs p{
    display: inline-block;
    margin-left: 20%;
}
.copyright_fs p + p {
    float: right;
    margin-left: 2%;
}
.div2-long{
    width: 60%;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++ user registration css +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.clearboth {
    clear: both;
}
.clearight {
    clear: right;
}
.clearleft {
    clear: left;
}

/*************** header ********************/

.fs_or_header {
    background-color: #DDBE87;
    height: 100px;
    display: inline-flex;
    width: 100%;
}
.logo_or {
    text-align: center;
    width: 20%;
    clear: both;
    height: 100px;
    background-color: #CBAC73;
}
.fs_or_logo {
    margin: 10px;
}


/*********************body styling**********/
.fs_section {
    font-size: 1em;
    padding-top: 1%;
    color: #3B3B3B;
}



.user_registration_main-container {
    width: 90%;
    margin: auto;
    font-family: Raleway;
    color: #545454;
    background: #FFF;
    padding-bottom: 2%;
    box-shadow: 0px 0px 5px gray;
}

.section_1 {
    width: 33%;
    float: left;
    margin-left: 9%;
}

.section_2{
    width: 33%;
    float: right;
    margin-right: 9%
}

.fs_p {
    font-size: 1em;
    color: #575757;
}

.fs_input_1 {
    border: 1px solid #CBAC73;
    padding: 2%;
    font-size: 0.9em;
    border-radius: 4px;
    width: 60%;
}
.fs_input_2 {
    border: 1px solid #CBAC73;
    padding: 0.8%;
    font-size: 0.9em;
    border-radius: 4px;
    width: 92%;
}

#otp_box{
    display: none;
}

.fs_111 {
    font-size: 0.9em;
}

.fs_left {
    float: left;
}

.Resend_OTP{
    width: 24%;
    margin-left: 45%;
    font-size: 12px;
    text-decoration: underline;
    margin-bottom: 10%;
}
.fs_up_col {
    width: 86%;
}

/*+++++++++++++++++++++++++++++++++++++++++++++ User Login Css ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.login-main-container {
    border: 0px solid gray;
    width: 85%;
    margin: 2% auto;
    padding: 0 1%;
    font-family: Raleway;
    color: #545454;
    box-shadow: 0px 0px 5px gray;
}

.left-col {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-left: 10%;
    margin-right: 2%;
    margin-bottom: 6%;
    border-right: 1px solid #E6E6E6;
}

.right-col {
    width: 35%;
    display: inline-block;
    margin-left: 6%;
}
.label
{
	font-size: 1em;
	margin: 0;
	margin-top: 1%;
	padding: 0;
}

.left-col input {
    width: 60%;
    border: 1px solid #ddbe86;
    border-radius: 3px;
    padding: 1.5%;
    margin-bottom: 1%;
    font-size: 1em;
}
.left-col input[type="button"]
{
	width: 63.5%;
	border: none;
	border-radius: 3px;
	background-color: #ddbe86;
	margin-top: 4%;
	color: #fff;
}
.fs_section h2{
    font-weight: normal;
    font-family: RalewayS;
}
.account {
    width: 36%;
    display: inline-block;
    margin-top: 1%;
    font-size: 0.9em;
    text-align: right;
}
.social-login-btn{
        width: 87%;
}
.recvr-pswrd{
    width: 27%;
    display: inline-block;
    margin-top: 1%;
    font-size: 0.9em;
    text-align: left;
}
#or {
    font-size: 1em;
    width: 63%;
    text-align: center;
    font-weight: 700;
}
.right-col-content
{
	margin-bottom: 5%;
}
.right-col-content img
{
	margin-right: 2%;
	vertical-align: middle;
	
}
.img-name
{
	font-size: 0.9em;
}
.social-login-btn .fb-btn {
    width: 45%;
    display: inline-block;
    position: relative;
}
.social-login-btn .google-btn
{
    width: 45%;
    display: inline-block;
    position: relative;
}
.social-login-btn .fb-btn button {
    width: 60%;
    background-color: #3b5998;
    border: none;
    color: #fff;
    border-radius: 3px;
    font-size: 0.9em;
    padding: 4%;
}

.social-login-btn .google-btn button
{
    width: 60%;
    background-color: #d34836;
    border: none;
    color: #fff;
    border-radius: 3px;
    font-size: 0.9em;
    padding: 4%;
}

.social-login-btn img {
    width: 10%;
    vertical-align: middle;
    margin-right: 6%;
    top: 14%;
    left: 3%;
    position: absolute;
}




@media only screen and (max-width: 1500px) {
    .foot{
        width: 70%;
    }
    .copyright_fs{
        width: 80%;
    }
    .fs_form_r2 {
    width: 85%;
    margin: auto;
    margin-left: 10%;
}
    
    
    
}

@media only screen and (max-width: 1350px) {
    .foot{
        width: 70%;
    }
    .copyright_fs{
        width: 90%;
    }
    .fs_section_1 {
        margin-left: 2%;
    }
    .user_registration_main-container {
    width: 95%;
    }
    .fs_form_r2 {
    width: 90%;
    margin: auto;
    margin-left: 8%;
}
.right-col-content img {
    width: 80px;
}
.fs_le_col {
    width: 45%;
}
.fs_ri_col {
    width: 45%;

}
.fs_up_col {
    width: 84.5%;
}
.fs_submit_1 {
    width: 29%;

}
.fs_p1 {
    margin-left: 5%;
}
.fs_submit_mobile {
    width: 64%;
}
}
@media only screen and (max-width: 990px) {
    .o_fs {
        width: 28%;
    }
    .o_fs button {
        width: 53%;
        padding: 3%;
    }
    .d_fs {
        width: 22%;
    }
    .t_fs {
        width: 33%;
    }
    .fs_le_col
    {
      width: 50%;
      margin: auto;
      float: none;
    }
    .fs_ri_col
    {
        width: 50%;
        margin:auto;
        float: none;
    }
    .fs_up_col
    {
        width: 50%;
        margin:auto;
        float: none;
    }
    #fs_submit_1
    {
        margin:auto;
        float: none;
    }
    .fs_p1
    {
        margin-bottom: 10px;
        margin-left: 26%;
        margin-top:10px;
    }
/*    .fs_upload
    {
        width: 106%;
    }*/
    .fs_container
    {
        padding-left: 2%;
    }
    .fs_form_r2
    {
        width: 85%;
    }

}
@media only screen and (max-width: 780px) {
    .o_fs {
        width: 27%;
    }
    .d_fs {
        margin-left: 3%;
        width: 28%;
    }
    .d_fs .div2 {
        width: 75%;
    }
    .t_fs {
        margin-left: 3%;
    }
    .fs_section_1 {
        margin-left: 0px;
    }
    .fs_section_1 h2 {
        font-size: 13px;
    }
    @media only screen and (max-width: 690px) {
        .t_fs {
            width: 35%;
            margin-left: 0px;
        }
        .threef_fs h3 span {
            display: inline;
        }
    }
    @media only screen and (max-width: 670px) {
        .o_fs {
            display: block;
            width: 100%;
        }
        .o_fs button {
            width: 45%;
            margin-bottom: 2%;
            padding: 2%;
        }
        .d_fs {
            display: inline;
            margin: auto;
            width: 100%;
        }
        .t_fs {
            width: 40%;
            margin: auto;
        }
        .copyright_fs span {
            clear: both;
            display: block;
            float: none;
        }
        .otp_fs
        {
            height: 319px;
        }
        
    }
    @media only screen and (max-width: 590px) {
        .d_fs {
            display: block;
        }
        .t_fs {
            width: 95%;
        }
        .div2 {
            width: 29%;
        }
    }
    @media only screen and (max-width: 590px) {
        .div2 {
            width: 34%;
        }
        .fs_upload
        {
            width: 116%;
        }
    }
    @media only screen and (max-width:400px) {
        .fs_image_up {
            top: 0px;
        }
        .fs_up_span {
            font-size: 12px;
        }
    }
