/* Dropdown Button */
.dropbtn {
    background: #ddbe86;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
    width: 100%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 50%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #575757;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: normal;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
        background: #ba9f6f;
}
.arrow-down {
    position: absolute;
    top: 45%;
    right: 5%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
}
.dash-nav ul{
    text-align: center;
    background: #ddbe86;
}
.dash-nav ul li {
    display: inline-block;
    margin: 0;
    color: #fff;
    padding: 0.5% 1%;
}

.dash-nav ul .active{
    background: #ba9f6f;
}
.floatright{
    margin: 2%;
    float: right;
    clear: right;
}

/*+++++++++++++++++++++++++++++++++++ Order History +++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.order-container{
    width: 90%;
    margin: 1% auto;
}

.img-box {
    width: 6%;
    display: inline-block;
    padding: 1%;
    margin-left: 2%;
}
.img-box img{
    width: 100%;
}
.order-history-main-container .navbar {
    border-radius: 0;
}

.order-history-main-container .navbar-default {
    background-color: #DDBE87;
    border-color: #DDBE87;
}

.order-history-main-container .navbar-default .navbar-nav>li>a {
    color: #fff;
    font-family: 'Raleway-SemiBold';
}
.order-history-main-container .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #CBAD7B;
    font-family: 'Raleway-SemiBold';
}

.order-history-main-container
{
    margin:7% 5%; 
    font-family: 'Raleway-SemiBold';
    /*box-shadow: 0 0 2px 2px #E6E6E6;*/
}

.order-title
{
    margin-left: 2%;
    font-size: 1.2em;
    color: #545454;
}

.history-box{
    margin: 1%;
}

.order-container button.accordion {
    background-color: #F1CD8F;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;  
    padding: 0.5% 1%;
    font-size: 0.9em;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.order-container button.accordion.active, button.accordion:hover {
    background-color: #F1CD8F;
}

.order-container button.accordion.active .order-product-name
{
    display: none;
}
.order-container button.accordion.active .total-sum-box
{
    display: none;
}
.order-container button.accordion.active .up-arrow
{
    display: block!important;
}

.order-container button.accordion.active .down-arrow
{
    display: none;
}
/* Style the accordion panel. Note: hidden by default */
.order-container div.panel {
    padding:1%;
    background-color: white;
    display: none;
    box-shadow: 0 0 2px 2px #E6E6E6;
    width: 97.9%;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
.order-container div.panel.show {
    display: block !important;
}

.order-container button.accordion:after {
    /*content: '\02795';*/ /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
    position: relative;
    top: 1%;
}

.order-container button.accordion.active:after {
    /*content: "\2796";*/ /* Unicode character for "minus" sign (-) */
}

.order-id-box {
    border: none;
    color: #fff;
    background-color: #BA9F70;
    width: 10%;
    border-radius: 5px;
    margin: 0.5%;
    padding: 0.5%;
    text-align: center;
    display: inline-block;
}
.order-product-name
{
    display: inline-block;
    width: 30%;
    margin-left: 10%;
}
.total-sum-box
{
    display: inline-block;
    width: 35%;
    text-align: right;
}

.up-arrow
{
    display: inline-block;
    float: right;
    margin-top: 1%;
    display: none;
}
.down-arrow
{
    display: inline-block;
    float: right;
    margin-top: 1%;
}
.order-container .row

{
    margin: 1%;
}

/*.up-arrow-box
{
    display: inline-block;
    float: right;
}
.down-arrow-box
{
    float: right;
    display: none;
}*/

.product-name-box {
    /* margin-top: 6%; */
    width: 45%;
    margin-left: 2%;
    display: inline-block;
    /* text-align: center; */
    vertical-align: middle;
}

.price-box {
    /* margin-top: 15%; */
    font-size: 1em;
    color: #585858;
    width: 15%;
    display: inline-block;
    vertical-align: middle;

}
.order-status {
    /* margin-top: 7%; */
    font-size: 1em;
    color: #585858;
    text-align: right;
    width: 23%;
    display: inline-block;
    vertical-align: middle;

}
#product-title
{
    font-size: 1em;
    color: #585858;
    margin: 0;
}
#product-des
{
    font-size: .8em;
    color: #585858;

}

.line
{
    height: 1px;
    width: 100%;
    background-color: #DDBE87;
    color: #DDBE87;   
    margin-top: 1%;
    margin-bottom: 1%;
}

.seller-name {
    font-size: 1em;
    color: #333;
    width: 15%;
    display: inline-block;
}

.order-date {
    font-size: 1em;
    color: #333;
    width: 20%;
    display: inline-block;
}

.total-sum {
    text-align: right;
    color: #333;
    padding: 1%;
    width: 59%;
    display: inline-block;
}
.small-txt
{
    color: #545454;

}

/* +++++++++++++++++++++++++++++++++++++++++++++ Refer a friend ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.refer-friend-container {
    border: 1px solid transparent;
    /* margin: 7% 5%; */
    width: 90%;
    margin: 2% auto;
    box-shadow: 0 0 2px 2px #E6E6E6;
}

.refer-friend-container .refer-friend-title
{
    margin-left: 3%;
    color: #545454;
}

.refer-friend-container .how-to-refer-container {
    /* margin: 3% 7%; */
    width: 80%;
    margin: 2% auto;
    border-bottom: 1px dashed #A8A8A8;
    padding-bottom: 2%;
}

.refer-friend-container p 
{

    color: #1A1A1A;
    font-size: 1.5em;
}
.dotted-border
{
    margin-bottom: 3%;
    border-bottom: 1px dashed #A8A8A8;
    padding-bottom: 3%;
}

.refer-friend-container input[type="button"] {
    width: 30%;
    /* height: 30px; */
    padding: 1%;
    color: #fff;
    background: #BA9F70;
    /* margin-left: 2%; */
    font-size: 1em;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
}
.how-to-refer-container .img-col{

    width: 20%;
    display: inline-block;
    text-align: center;
}
.how-to-refer-container .sign-up-box {
    width: 70%;
    display: inline-block;
    vertical-align: middle;
}
.how-to-refer-container h5{
    font-weight: normal;
}